@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* ----------------------------------------  General Tag  ---------------------------------------- */
body {
    background-color: #474747;
    text-align: center;
    font-family: "Reenie Beanie",sans-serif;
}

hr {
    border-top: 2px solid #010203;
}

header {
    border-bottom: 2px solid rgba(226, 14, 14, .5);
}

/* -- blank is extra till pymongo runs -- */
.blank-large-recipe {
    height: 300px;
}

.blank-carousel-recipe {
    height: 250px;
}

.large-content-height {
    min-height: 30rem;
}

.independant-header-height {
    height: 12rem;
}

.independant-header-height h1 {
    font-size: 3rem;
}

.independant-header-height h3 {
    font-size: 2rem;
}

@media (max-width: 767.98px) {
    .independant-header-height h1 {
        font-size: 2rem;
    }

    .independant-header-height h3 {
        font-size: 1.5rem;
    }
}


.independant-header-height h1,
.independant-header-height h3 {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #010203;
}

.independant-header-height div {
    height: 8rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, .5 );*/
}

.generic-background {
    background-color: rgb(153, 220, 236);
}

.form-is-valid,
.make-invis {
    display: none;
}

/* ---------------------------------------- Index Page  ---------------------------------------- */
/* ---------------------------------------- Header and Logo ---------------------------------------- */
.logo-background {
    background: url("../images/grain-1-90.jpg") 0% 0% / 100% 100%;
    z-index: 0;
    border-radius: 5%;
    margin: 2rem 0rem;
    box-shadow:  -3px 0px 2px  rgba(0, 0, 0, .5),
                inset 2px 0px 2px  rgba(0, 0, 0, .75),
                 0px -3px 2px  rgba(0, 0, 0, .5),
                inset 0px 2px 2px  rgba(0, 0, 0, .75);
}

.header-text-1:before,
.header-text-1:after,
.header-text-2:before,
.header-text-2:after {
    position: absolute;
    right: 0;
    left: 0;
}

/* -- wood grain image for text -- */
.header-text-1,
.header-text-2 {
    font: 3.5rem "Indie Flower", sans-serif;
    background: url("../images/grain-1-90.jpg") no-repeat center top;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    color: transparent;
    -webkit-background-clip: text; /* allows image to be shown in text, 'background-clip' not used because it has a different effect */
    z-index: 2;
    margin: 0;
}

/* -- Adds shadow or depth to text -- */
.header-text-1:before,
.header-text-2:before {
    z-index: -1;
    text-shadow: -1px 0px rgba(0, 0, 0, .75),
                0px -2px rgba(0, 0, 0, .75);
}

.header-text-1:before {
    content: "Fat";
}

/* -- adds a full text body shadow -- */
.header-text-1:after {
    content: "Fat";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}

.header-text-2:before {
    content: "Raccoon";
}

/* -- adds a full text body shadow -- */
.header-text-2:after {
    content: "Raccoon";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}
/* ---------------------------------------- Flash messges ---------------------------------------- */
.flash {
    height: 5rem;
    color: #fff;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.flash h1 {
    margin-bottom: 0;
}

/* ---------------------------------------- Nav Bar ---------------------------------------- */
.custom-nav {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background: #fff;
    border-top: 2px solid rgba(14, 255, 255, .5);
    border-bottom: 2px solid rgba(14, 255, 255, .5);
}

@media (min-width: 992px) {
    .custom-nav {
        border-right: 2px solid rgba(14, 266, 266, .5);
    }
}

.search-bar {
    font-family: "Yanone Kaffeesatz", sans-serif;

}

.user-search-bar-input {
}

.search-icon {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border: none;
}

.search-bar label {
    margin-bottom: 0;
}

.user-form-search-height {
    height: 90%;
}

.user-search-box-padding {
}

/* ---------------------------------------- Recommended Recipe and Carousel  ---------------------------------------- */
.recipe-of-day-aside-height {
    height: 27.5rem;
}

.recipe-overlay-bottom {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    background-color: rgba(18, 138, 231, .75);
    bottom:0;
    left:0;
    right:0;
    text-shadow: 1px 1px 2px #fff;
}

.recipe-overlay-top {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    left:0;
    right:0;
}

.recipe-descript {
    font: 1rem "Yanone Kaffeesatz", sans-serif;
    padding: 1rem !important;
    background-color: #fff;
    margin: 0rem;
}

.avatar,
.avatar-image img {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    float: left;

}

.avatar {
    position: relative;
    background-color: rgb(65, 105, 225);
    width: 75px;
    height: 75px;
}

.avatar-image{
    
}

.card-section {
  /*  border-top: 2px solid rgba(226, 14, 14, .5);*/
  /*  border-bottom: 2px solid rgba(226, 14, 14, .5);*/
}

.carousel {
    height: 30rem;
    /*background-color: #fff;*/ /*-------------- disrupts .notebook-paper*/
}

.card-carousel {
    margin: .5rem 0rem;
    padding: 1rem !important;
    display: none;
    /*border-radius: 15%;*/
    border-radius: 5%;
    background-color: #e2e2e2;
    color: #010203;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25 ),
                -1px -1px 2px 2px rgba(0, 0, 0, .15 ),
                inset 1px 1px 2px rgba(0, 0, 0, .25),
                inset -2px -2px 2px rgba(0, 0, 0, .25 );
}

.card-carousel li {
    font-family: "Reenie beanie", sans-serif;
    padding-bottom: 0rem!important; /* without important uses bottom padding from recipe-lists */
    list-style-type: none;
}
/*.card-carousel p {
    font: 1.5rem "Yanone Kaffeesatz",sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, .15 );
}*/

.lessons,
.card-carousel-vis {
    display: block;
}

.carousel-picture {
    height:50%;
    padding: 1rem !important;
    background-color: #010203;
    border-radius: 15%;

}

.carousel-button-svg {
    fill: rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 37.5px;
}

.carousel-button {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    height: 20rem; /* -----------------------------------------   set with JS  or set as carousel height*/
    z-index: 1;
}

.carousel-left {
left: 0;
}

.carousel-right {
right: 0px;
}

.carousel-button svg {
    transform: translateY(7.5rem);
}


/* ---------------------------------------- Footer ---------------------------------------- */
footer {
    background: url("../images/cuttingboard-90.jpg") 0% 0% / 100% 100%; /* table background image */
    height: 20rem;
    border-top: 2px solid #474747;
}

.table-runner-pattern {
    position: absolute;
    height: 15rem;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, .25),
                0px -1px 5px 5px rgba(0, 0, 0, .25 );
}

@media (max-width: 575.98px) {
    .table-runner-pattern {
        height: 25rem;
    }
    footer {
        height:30rem;
    }
}

.social-position  {
    position: relative;
    width: 55px;
    height: 55px;
    top: 105%;       /*-------------------JS assign me*/
}

@media (max-width: 767.98px) {
    .social-position {
        top: 0%;
    }
}

.footer-ul li { 
    list-style-type: none;
}

/*      ------ removed from index
.raccoon img {
    width: 75%;
    height: 7rem;
    position: relative;
    top:0;
    bottom:0;
    filter: drop-shadow(6px 0px white);
} */


@media (max-width: 767.98px) {
    .social-link-push li {
        top: 50px;
        left: 10px;
        height: 90px;
    }

    .napkin-link-push li{
        left:-10px;
        top: 40px;
    }
}

/* ---------------------------------------- Form general styles  ---------------------------------------- */
/* tabs are header (login & create account) for user login */
.tab-body {
    font: 1.5rem "Yanone+Kaffeesatz", sans-serif;
    border-bottom: 2px solid #010203;
    background-color: rgba(14, 255, 255, 0.5);
    overflow: hidden;
}

.tab {
    margin-top: .5rem;
    display: inline-block;
}

.tab p {
    margin: 0;
}

.tab-selected {
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    transform: skew(-10deg);
    background-color: rgba(0, 0, 0, .25);
    font-size: 1.75rem;
    border-top: 2px solid #010203;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

fieldset {
    display: inline-block;
}

/* Form validation styles */
.invalid {  /*------------------------------------do I work??*/
    border: 2px solid rgb(14, 255, 255);
}

.form-invalid-view {
    border: 2px solid rgb(255, 0, 0);
}

/* parent popup box */
.invalid-form {
    margin-top: 1rem;
    width: 80%;
    border: 2px solid rgb(14, 255, 255);
    background-color: #eeeded;
    position: relative;
    z-index: 4;
    left: 10%;
    margin-bottom: 1rem;
}

/* pointer triangle */
.invalid-form:before {
    content: "";
    z-index: 4;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid rgb(14, 255, 255);
    border-bottom: 10px solid transparent;
    transform: rotate(180deg) translateX(50%);
    top: -22px;
}

/* login and create modal */
.custom-modal {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

.custom-modal h1 {
    display: inline-block;
}

.custom-modal span{
    display: inline-block;
    transform: skew(0deg);
}

.user-modal-spacing {
    margin-bottom: 1.5rem;
}

.modal-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .75);
}

/* basic form style */
.form-base {
    background-color: #ebebeb;
    background-color: rgba(235, 235, 235, 0.75); /*----------------------------------------- reconsider background opacity*/
    background-color: rgba(235, 235, 235, 1);
    font-family: "Yanone+Kaffeesatz", sans-serif;
    margin: 2rem;
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25 ), /* same as card carousel */
                -1px -1px 2px 2px rgba(0, 0, 0, .15 ),
                inset 1px 1px 2px rgba(0, 0, 0, .25),
                inset -2px -2px 2px rgba(0, 0, 0, .25 );
}

.form-base hr {
    width: 50%;
    margin-bottom: 2.5rem;
}

.form-input-spacing { /*----------Im new !! AND IMPORTANT*/
    padding-bottom: 3rem
}

.form-base h1 {
    padding: 0rem 1rem;
    margin-top: 1.5rem;
}

.form-base p {
    font-size: 1.25rem;
    padding-top: 0.25rem;
}

.form-base label {
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px #a7a7a7;
    /*----------------------new*/
    text-align: center;    
    white-space: nowrap;
    padding-bottom: 0.25rem;
}

.form-base input {
    text-align: center;
}

.form-base input,
.form-base textarea {
    width: 80%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25 ),
                -1px -1px 2px rgba(0, 0, 0, .15 ),
                inset 1px 1px 2px rgba(0, 0, 0, .25),
                inset -1px -1px 2px rgba(0, 0, 0, .25 );
}

@media (max-width: 767.98px) {
    .form-base input,
    .form-base label {
    } 
}
/* ---------------------------------------- form unique styles ---------------------------------------- */


/* Form ingredient and step boxes */
.step-ingredient-spacing {
    padding-bottom: 0.5rem;
}

/* form and all button styles */
.custom-button {
    width: auto!important;
    margin-bottom: 1.5rem;
    border: 2px solid #474747;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5 );
}


.custom-button-press {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .25 ),
                inset -2px -2px 2px rgba(0, 0, 0, .25 );
}

.radio-buttons input {
    width: auto;
}

/* ---------------------------------------- Profile ---------------------------------------- */
.profile-lists p {
    text-align: left;
    /*font: 1.75rem "Reenie Beanie", sans-serif;*/
    font-family: "Reenie Beanie", sans-serif;
}

.profile-lists a,
.profile-lists a:hover {
    color: #010203;
    text-decoration: none;
}

.profile-avatar-bio-height {
    height: 30rem;
}

.profile-sticky-height { /*------------------------------  recustomizes sticky*/
    height: 40rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
}

@media (max-width: 575.98px) {
    .profile-avatar-bio-height {
        height: 20rem;
    }

    .profile-sticky-height { /*------------------------------  recustomizes sticky*/
        height: 30rem;
        font-family: "Yanone Kaffeesatz", sans-serif;
    } 
}

.profile-header-height {
    height: 3rem;
    color: #fff;
    text-shadow: 2px 2px 4px #010203;
}

.profile-header-height div {
    height: 7rem;
}

.profile-button {
    margin: 1.5rem;
}

/* ---------------------------------------- Recipe ---------------------------------------- */

.recipe-name h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-shadow: 2px 2px #a7a7a7;
}

.recipe-lists {
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-align: left;
}

.recipe-lists-no-padding {
    padding-left: 0;
}

.blank-anchor:link,
.blank-anchor:visited,
.blank-anchor a,
.recipe-lists:link,
.recipe-lists:visited,
.recipe-lists a {
    color: #010203;
}

.blank-anchor a:hover,
.recipe-lists a:hover {
    text-decoration: none;
}

.recipe-lists li {
    padding-bottom: 1.5rem;
    font-family: "Reenie Beanie", sans-serif;
}

.recipe-lists h1,
.recipe-lists hr {
    position: relative;
    right: 1rem;
}

.recipe-lists h1 {
    text-align: center;
}

.recipe-lists hr{
    width: 40%;
}

.recipe-lists-steps {
    list-style-type: decimal;
    font-size:1.75rem;
}

.favorite {
    height: 2rem;
    width: 2rem;
}

.recipe-lists-no-dec {
    list-style-type: none;
}
/* ---------------------------------------- all recipes *maybe dup section* ---------------------------------------- */
.all-recipe-max-height {
    min-height: 50rem
}

/* ---------------------------------------- recipe list ---------------------------------------- */
.recipe-list-height {
    min-height: 20rem;
}

.pagination-content {
    font-size: 2rem;
    height: 3rem;
    padding: 0;
}

.pagination-selected {
    font-weight: bolder;
    color: #D912E7
}

.pagination-ul {
    padding: 0rem 1rem;
    position: absolute;
    width: 100%;
    bottom: 20px;
    right:0;
}

/* ---------------------------------------- lessons ---------------------------------------- */

.lessons-bottom-padding {
    padding-bottom: 2rem;
}

.lessons-header {
    padding-top: 2rem;
}

/* ---------------------------------------- recipe_lists --> rename all features ---------------------------------------- */
.all-features {
    text-align: center;
}
/*
@media (max-width: 575.98px) {
    .all-features {
        text-align: center;
    }
}
*/

