@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* white == faf9f6 */
/* black == 333 */
/* ------------------------------------------------------- art and background section  ---------------------------------------------------------------- */
/* ---------------------------------------- gradient Patterns  */
.picnic-pattern { /* red traditional southen table linen pattern (square pattern) */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 29%, rgba(226, 14, 14, 0.25) 30% 70%, rgba(0, 0, 0, 0) 71% 100%),
                linear-gradient(90deg, rgba(0, 0, 0, 0) 29%, rgba(226, 14, 14, 0.25) 30% 70%, rgba(0, 0, 0, 0) 71% 100%);
    background-color: #faf9f6;
    background-size: 20px 20px;
}

.racoon-pattern { /* black southen table linen pattern (square pattern) */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.25) 10% 50%, rgba(0, 0, 0, 0) 51% 100%),
                linear-gradient(90deg, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.25) 10% 50%, rgba(0, 0, 0, 0) 51% 100%);
    background-color: #faf9f6;
    background-size: 20px 20px;
}
/* ---------------------------------------- Index Card Art */
/* Rotating Version -- index-card-outer(index-rotate(index-face(index-card-pattern)index-back(index-card-pattern))) */
.index-card-pattern {
    position: relative;
    background-position: 0% 50%;
    background: repeating-linear-gradient(rgb(255, 255, 240), rgb(255, 255, 240) 20px, rgba(77, 146, 211, .5)20px 22px),
                linear-gradient(to bottom, rgb(226, 14, 14) 22px, rgba(0,0,0,0) 22px 100px);
    background-color: #faf9f6;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    text-align: left;
}
/* outer layer */
.index-card-outer {
    perspective: 1000px;
    margin: 2rem 3rem;
}

.index-card-outer h6 {
    text-decoration: underline;
}

/* rotating portion  */
.index-rotate {
    transition-duration:  2s;
    position: relative;
    transform-style: preserve-3d;
}
/* apply dynamically for rotation */
.flip-index-card{ 
    transform: rotateY(180deg);
}

.index-face,
.index-back,
.index-card-outer {
    height: 20rem;
}

.index-face,
.index-back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
}

.index-back {
    transform: rotateY(180deg);
}

.index-card-bold {
    text-shadow: 1px 1px 2px #474747;
}

.index-card p {
    margin-bottom: 0rem;
    position: relative;
    top: 0.5rem;
}
/* Used with feature header for better readability */
.header-text-spacing {
    letter-spacing: 2px;
}
/* ---------------------------------------- Polaroid Picture Art */
.polaroid-outer {
    min-height: 20rem;
    background-color: rgb(242, 243, 229);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 83%;
}

.polaroid-outer h6 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.polaroid-picture {
    background-color: #333;
    height: 15rem;
    margin: 0.5rem;

}

.polaroid-picture img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}

/* ---------------------------------------- Sticky Note Art */
/* structure of sticky note is important!*/
/* > == one level deeper ||  This effect requires a height to be set at the sticky-note level*/ 
/* div(sticky-note) > div(sticky-note-inner-div) > p () *place content here within p* */
/* sticky-note-right goes with sticky-note to generate a reverse shadow  */
/*  sticky-note-middle goes with sticky-note to generate a bottom shadow  */
/*  *sticky-note-no-shadow* can replace sticky-note to remove lifting shadow  */
/* Creates external box */
.sticky-note-no-shadow,
.sticky-note {
    position: relative;
    z-index: 1;
    margin: 1.5rem 0rem;
    width: 83%;

}
/* Creates internal box */
.sticky-note-inner-div {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    /* background: #e7d912; */
    background: #EFF592;
    color: #333;
    z-index: 1;
    box-shadow: inset 2px 0px 0px  rgba(0, 0, 0, .25);
}
/* Add on sticky-note-inner-div for right shadow */
.sticky-note-right-shadow {
    box-shadow: inset -2px 0px 0px  rgba(0, 0, 0, .25); 
}
/* Add on sticky-note-inner-div for middle shadow */
.sticky-note-middle-shadow {
    box-shadow: inset 0px -2px 0px  rgba(0, 0, 0, .25); 
}
/* Add on sticky-note for as for right side shadow */
.sticky-note-right.sticky-note:before{
    right: 0;
    transform: rotateY(180deg) translateX(0px) translateY(0rem) rotate(0deg) skewX(-2deg) skewY(-2deg) scaleX(.95) scaleY(0.9);
}

.sticky-note-right p {
    transform: rotateY(0deg);
}

.make-space-top {
    padding-top: 5rem;
}

.make-space {
    padding-bottom: 1.5rem;
}

.make-space-minus {
    padding-bottom: 0.75rem;
}

.make-space-plus {
    padding-bottom: 4rem;
}

.make-space-margin {
    margin-bottom: 1.5rem;
}
/* Lifting Shadows */
.sticky-note:before,
.sticky-note-middle:before,
.sticky-note-middle:after {
    content: "";
    position: absolute;
    background-color: transparent;
    z-index: 0;
    box-shadow: -25px 30px 20px 0px rgba(0, 0, 0, 0.25);
    left: 0;
    height: 100%;
    width: 100%;
}

.sticky-note:before {
    bottom:0;
    transform: translateX(0px) translateY(-2.5%) rotate(0deg) skewX(0deg) skewY(-2deg) scaleX(.95) scaleY(.95);
}

.sticky-note-middle:before {
    box-shadow: -30px 30px 20px 0px rgba(0, 0, 0, 0.25);
    transform:  translateX(0%) translateY(-2%) rotate(0deg) skewX(-2deg) skewY(-2deg) scaleX(.95) scaleY(.90);
}

.sticky-note-middle:after {
    box-shadow: -30px 30px 20px 0px rgba(0, 0, 0, 0.25);
    transform: rotateY(180deg) translateX(0%) translateY(-102%) rotate(0deg) skewX(-2deg) skewY(-2deg) scaleX(.95) scaleY(.90);
}
/* Text font corrections */
.sticky-note p,
.sticky-note-no-shadow p {
    line-height: 1;
    margin-bottom: 0rem;
}
/* ---------------------------------------- Social drink lik with ripple animation Art */
/* -- Ripple effect and animation -- */
.ripple {
    position: absolute;
    height: 45px;
    width: 45px;
    transform: scale(0);
    border-radius: 50%;
    border: 2px solid #ce52007c;
    box-shadow: inset 2px 0px rgba(0, 0, 0, .25),
                inset 0px 2px rgba(0, 0, 0, .25),
                inset -2px 0px rgba(0, 0, 0, .25),
                inset 0px -2px rgba(0, 0, 0, .25),
                1px 0px #ff66007c,
                0px 1px #ff66007c,
                -1px 0px #ff66007c,
                0px -1px #ff66007c;
    z-index: 1;
    transform: translateX(-50%) translateY(11%) scale(0);
}

.create-ripple {
    animation: 2s linear 0s 1 normal forwards tea-ripple;
}

@keyframes tea-ripple {
    0%{transform: translateX(-50%) translateY(11%) scale(0); z-index: 0;}
    90%{transform: translateX(-50%) translateY(11%) scale(.9); z-index: 1;}
    100%{transform: translateX(-50%) translateY(11%); 
        border: 2px solid #ce520000;
        box-shadow: inset 2px 0px rgba(0, 0, 0, 0),
                    inset 0px 2px rgba(0, 0, 0, 0),
                    inset -2px 0px rgba(0, 0, 0, 0),
                    inset 0px -2px rgba(0, 0, 0, 0),
                    1px 0px #ff660000,
                    0px 1px #ff660000,
                    -1px 0px #ff660000,
                    0px -1px #ff660000;}
}
/* -- Dipping ice animation -- */
.dipping-ice {
    animation: 3s linear 0s 1 normal forwards ice-cube-dip;
}

@keyframes ice-cube-dip {
    0%{color: #faf9f6;}
    50%{color: rgba(255, 102, 0, 0.247);}
    100%{color: #faf9f6;}
}
/* -- shadow for fontawesome image -- */
.social-position i {
    color: #faf9f6;
    filter: drop-shadow(-2px -2px rgba(255, 255, 255, 0.25));
}
/* -- Outer most box of social links -- */
.social-link {
    position: absolute;
    font-size: 1.5rem;
    transform: translateX(-50%) translateY(65%);
    z-index: 1;
}
/* -- Liquid layer of drink -- */
.liquid {
    background-color: #923c01;
    border-radius: 50%;
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(11%) translateY(11%);
    z-index: 1;
}
/* -- glass 'container' layer of drink -- */
.glass {
    position: absolute;
    height: 55px;
    width: 55px;
    border: 5px solid rgba(49, 63, 128, 0.5);
    border-radius: 50%;
    box-shadow:  -7px -10px 2px 2px  rgba(0, 0, 0, .25),
                inset -5px -5px 2px  rgba(0, 0, 0, .5),
                inset 2px 0px 2px  rgba(0, 0, 0, .5),
                inset 0px 2px 2px  rgba(0, 0, 0, .25);
    z-index: 1;
}
/* -- glass shadow layer of drink -- */
.glass-shadow {
    right: 1px;
    top: 1px;
    height: 53px;
    width: 53px;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5),
                inset -1px -1px 3px rgba(0, 0, 0, .5);
}
/* ---------------------------------------- Napkin Art */
.napkin-shadow {
    height:80px;
    width: 80px;
    position: absolute;
    background-color: transparent;
    box-shadow:   -1px -1px 1px   rgba(0, 0, 0, .25),
                1px 1px 1px 1px rgba(0, 0, 0, .25),
                inset 2px 2px 2px rgba(0, 0, 0, .25);
}

.napkin-out-container {
    height: 80px;
    width: 80px;
    background-color: #faf9f6;
    transform: rotate(180deg) translateX(25%) translateY(25%);
    z-index: 0;
}

.napkin-out-container div {
    position: absolute;
    z-index: 0;
}

.napkin-vertical-lines {
    width: 70px;
    height: 15px;
    transform: translateY(65px);
    background: repeating-linear-gradient(to right, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 54%, rgba(0,0,0,0) 54% 100%);
    background-size: 5px 5px;
}

 .napkin-horizontal-lines {
    width: 15px;
    height: 80px;
    transform: translateX(65px);
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 54%, rgba(0,0,0,0) 54% 100%);
    background-size: 5px 5px;
    border-bottom: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}

.napkin-right-triangle-corner {
    width: 30px;
    height: 30px;
    background: repeating-linear-gradient(to top, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 52%, rgba(0,0,0,0) 52% 100%);
    background-size: 5px 5px;
    clip-path: polygon(0% 50%, 50% 50%, 50% 0%);
    -webkit-clip-path: polygon(0% 50%, 50% 50%, 50% 0%);
    transform: translate(50px, 65px) rotate(90deg);
    background-color: #faf9f6;
}

.napkin-border-lines{
    width: 65px;
    height: 65px;
    border-bottom: 3px double rgba(124, 124, 124, 0.5);
    border-right: 3px double rgba(124, 124, 124, 0.5);
}

.napkin-nav {
    transform:  translateX(-0%) translateY(-65%) rotate(135deg);
}

.napkin-nav p {
    position: absolute;
    transform: rotate(225deg) translateX(-25%) translateY(-50%);
}

.napkin-nav img {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(225deg) translateX(25%) translateY(-50%);
    filter: sepia(100%); 
}
/* ------------------------------------------------------- General Section  ---------------------------------------------------------------- */
body {
    background-color: #474747;
    text-align: center;
    font-family: "Indie Flower",sans-serif;
}

hr {
    width: 50%;
    border-top: 2px solid #333;
}
/* Top header (that contains logo) bottom Strong border  */
header {
    border-bottom: 2px solid rgba(226, 14, 14, .5);
}

input {
    background-color: #faf9f6;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: context-menu;
}
/* ---------------------------------------- Various container sizes */
.xxl-content-height {
    min-height: 40rem;
}

.xl-content-height {
    /* height: 30rem;  changed for cell, profile page, chef bio*/
    min-height: 30rem;
}

.large-content-height {
    min-height: 20rem;
}

.medium-content-height {
    min-height: 17.5rem;
}

/* ---------------------------------------- Container for section headers on index and lessons*/
.header-text-shadow {
    color: #faf9f6;
    text-shadow: 2px 2px 2px #474747,
            4px 4px 2px #474747,
            6px 6px 2px #474747;
}

/* ---------------------------------------- Repetative class calls */
.max-height {
    height: 100%;
}
.max-width {
    width: 100%!important;
}
.auto-margin {
    margin: auto;
}
.yanone-text {
    font-family: "Yanone Kaffeesatz", sans-serif;
}

.reenie-text {
    font-family: "Reenie Beanie", sans-serif;
}

.indie-text {
    font-family: "Indie Flower", sans-serif;
}

.generic-background {
    background-color: rgb(153, 220, 236);
}

.blank-anchor:link,
.blank-anchor:visited,
.blank-anchor a,
.blank-anchor a:hover{
    color: #333;
    text-decoration: none;
    cursor:pointer;
}

.generic-box-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25 ),
                -1px -1px 2px 2px rgba(0, 0, 0, .15 ),
                inset 1px 1px 2px rgba(0, 0, 0, .25),
                inset -2px -2px 2px rgba(0, 0, 0, .25 );
}

.form-is-valid,
.make-invis {
    display: none;
}
/* ------------------------------------------------------- Logo Section  ---------------------------------------------------------------- */
.logo-background {
    background: url("../images/grain-1-90-xs.jpg") 0% 0% / 100% 100%;
    z-index: 0;
    border-radius: 5%;
    margin: 2rem 0rem;
    box-shadow:  -3px 0px 2px  rgba(0, 0, 0, .5),
                inset 2px 0px 2px  rgba(0, 0, 0, .75),
                 0px -3px 2px  rgba(0, 0, 0, .5),
                inset 0px 2px 2px  rgba(0, 0, 0, .75);
}


.header-text-1:before,
.header-text-1:after,
.header-text-2:before,
.header-text-2:after {
    position: absolute;
    right: 0;
    left: 0;
}

/* -- wood grain image for text -- */
.header-text-1,
.header-text-2 {
    font: 3.5rem "Indie Flower", sans-serif;
    background: url("../images/grain-1-90-xs.jpg") no-repeat center top;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    color: transparent;
    -webkit-background-clip: text; /* allows image to be shown in text, 'background-clip' not used because it has a different effect */
    z-index: 2;
    margin: 0;
}
/* -- Adds shadow or depth to text -- */
.header-text-1:before,
.header-text-2:before {
    z-index: -1;
    text-shadow: -1px 0px rgba(0, 0, 0, .75),
                0px -2px rgba(0, 0, 0, .75);
}

.header-text-1:before {
    content: "Fat";
}
/* -- adds a full text body shadow -- */
.header-text-1:after {
    content: "Fat";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}

.header-text-2:before {
    content: "Raccoon";
}
/* -- adds a full text body shadow -- */
.header-text-2:after {
    content: "Raccoon";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}
/* ------------------------------------------------------- Flash messge Section  ---------------------------------------------------------------- */
.flash {
    background-color: rgba(153, 220, 236, 0.5);
    height: 5rem;
    color: #faf9f6;
}

.flash h1 {
    margin-bottom: 0;
}
/* ------------------------------------------------------- Main Nav Bar Section  ---------------------------------------------------------------- */
.custom-nav {
    border-bottom: 2px solid #6F9FAB;
    top:0; 
    z-index: 2;
    position: sticky; 
}

.custom-nav{
    font-size: 1.5em;
}


@media (max-width: 991.98px) {
    .nav-search {
        display: inline-block;
    }
}

/* ------------------------------------------------------- Carousel Section  ---------------------------------------------------------------- */
.card-carousel {
    margin: auto!important;
    padding: 1rem !important;
    display: none;
    transition-duration: 0.5s;
    border-radius: 5%;
    background-color: #e2e2e2;
    color: #333;
}
.card-carousel li {
    padding-bottom: 0rem!important; /* without important uses bottom padding from recipe-lists */
    list-style: none;
    line-height: 1;
}
/* Allows carousel items to be switched  */
.lessons,
.card-carousel-vis {
    display: block;
}
/* Gives carousel a transition effect */
.transition-fade-out {
    opacity: 0;
}

.carousel-button-svg {
    fill: rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 37.5px;
}

.carousel-button {
    position: absolute;
    background-color: rgba(0, 0, 0, .25);
    height: 20rem;
    z-index: 1;
}
/* Carousel left button */
.carousel-left {
left: 0px;
}
/* Carousel right button*/
.carousel-right {
right: 0px;
}
/* Carousel button svg */
.carousel-button svg {
    transform: translateY(7.5rem);
}
/* ------------------------------------------------------- Recipe banner classic/lazy  ---------------------------------------------------------------- */
.recipe-overlay-bottom {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    text-shadow: 2px 2px #333;
    color: #faf9f6;
}
.lazy {
    background-color: rgba(18, 138, 231, .75);
}
.classic {
    background-color: rgba(18, 31, 231, 0.75);
}
.lazy-classic {
    background-color: rgba(111, 18, 231, 0.75);
}
.reduce-padding {
    padding: 0.25rem;
}

.remove-top-margin {
    margin-top: 0rem;
}
/* ------------------------------------------------------- Random Recipe Section  ---------------------------------------------------------------- */
.avatar,
.avatar-image img {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    float: left;
}

.avatar {
    position: relative;
    background-color: rgb(65, 105, 225);
    width: 75px;
    height: 75px;
}
/* ------------------------------------------------------- Footer Section  ---------------------------------------------------------------- */
footer {
    background: url("../images/cuttingboard-90-small.jpg") 0% 0% / 100% 100%; /* table background image */
    height: 20rem;
    border-top: 2px solid #474747;
    position: relative;
}

.table-runner-pattern {
    position: absolute;
    height: 15rem;
    width: 100%;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, .25),
                0px -1px 5px 5px rgba(0, 0, 0, .25 );
    transform: translateY(-50%);
    top: 50%;
}

.social-position  {
    position: relative;
    width: 55px;
    height: 55px;
    top: 25%;
    left: 50%;
}

.footer-ul li { 
    list-style-type: none;
}

@media (max-width: 767.98px) {
    .social-position {
        left: 35%;
    }
}

@media (max-width: 575.98px) {
    .table-runner-pattern {
        height: 13rem;
    }
    footer {
        height:17rem;
    }

    .social-position {
        top: 35%;
        left: 40%;
    }

    .social-link-push li {
        height: 90px;
    }
}
/* ------------------------------------------------------- Form Section  ---------------------------------------------------------------- */
/* ---------------------------------------- All style with tabs are part of form header's login & create account */
.tab-body {
    border-bottom: 2px solid #333;
    background-color: rgba(14, 255, 255, 0.5);
    overflow: hidden;
    width: 100%;
}
/* Cancels out form-base border-radius */
/* -----------------------------------------added a max width to allow  */
#delete-modal input {
    margin-top: 1rem;
}

#delete-modal p {
    margin: 1rem;
}

#delete-modal
#login-create-modal {
    border-radius: 0%; 
}

.tab {
    margin-top: .5rem;
    display: inline-block;
    padding: 1rem;
    width:49%
}

.tab span {
    text-align: center;
}

.tab p {
    margin-bottom: 0;
}

.tab-selected {
    color: #faf9f6!important;
    text-shadow: 0px 1px #333,
                1px 0px #333,
                0px -1px #333,
                -1px 0px #333;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    background-color: rgba(0, 0, 0, .25);
    padding: 1rem;
}

@media (max-width: 767.98px) {
    .tab-body {
        font-size: 1rem;
    }
    .tab-selected {
        font-size: 1.25rem;
    }
}
/* ---------------------------------------- Form validation */
.form-invalid-view {
    /* border: 2px solid rgb(255, 0, 0)!important; */
    border: 2px solid #e60000!important;
}

.form-invalid-view:focus {
    outline: none;
    /* border: 2px solid rgb(255, 0, 0); */
    border: 2px solid #e60000;
}

/* popup box (parent) */
.invalid-form {
    margin-top: 1rem;
    width: 80%;
    /* border: 2px solid rgb(14, 255, 255); */
    border: 2px solid #e60000;
    /* background-color: #eeeded; */
    background-color: #BDAABD;
    color: #444;
    position: relative;
    z-index: 4;
    left: 10%;
    margin-bottom: 1rem;
}

/* pointer triangle for popup box */
.invalid-form:before {
    content: "";
    z-index: 4;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    /* border-top: 10px solid rgb(14, 255, 255); */
    border-top: 10px solid #e60000;
    border-bottom: 10px solid transparent;
    transform: rotate(180deg) translateX(50%);
    top: -22px;
}
/* ---------------------------------------- login and create modal */
.custom-modal,
.custom-modal-delete {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

.custom-modal h1,
.custom-modal-delete h1 {
    display: inline-block;
}

.custom-modal span,
.custom-modal-delete span{
    display: inline-block;
    transform: skew(0deg);
}

.modal-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .75);
}
/* ---------------------------------------- basic form styles */
.form-delete-base,
.form-base {
    background-color: #dbdbdb;
    /* background-color: rgba(235, 235, 235, 1); */
    margin: 2rem;
}

.form-base label {
    width: 100%
}

/* Curved edges only look appeasing on larger screens */
@media (min-width: 1200px) {
    .form-delete-base,
    .form-base {
        border-radius: 5%;
    }
}

.form-input-spacing { /*----------Im new !! AND IMPORTANT*/
    padding-bottom: 3rem
}

.remove-p-margin {   /*-----------------------------check if im in use*/
    margin-bottom: 0rem;
}

.form-base h1 {
    padding: 0rem 1rem;
    margin-top: 1.5rem;
}

.form-base p {
    padding-top: 0.25rem;
}

.form-base label,
.form-base legend {
    text-shadow: 1px 1px 2px #a7a7a7;
    text-align: center;    
    white-space: nowrap;
    padding-bottom: 0.25rem;
}

.form-base input,
.form-base textarea {
    width: 80%;
}

.form-base input,
.form-base textarea,
.form-base select {
    border: 2px solid #a7a7a7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25 ),
                -1px -1px 2px rgba(0, 0, 0, .15 ),
                inset 1px 1px 2px rgba(0, 0, 0, .25),
                inset -1px -1px 2px rgba(0, 0, 0, .25 );
}

.form-base select {
    background-color: #faf9f6;
}

.avatar-upload,
.avatar-upload-user {
    background-color: #faf9f6;
    padding-left: 0!important;
}

.avatar-upload::-webkit-file-upload-button,
.avatar-upload-user::-webkit-file-upload-button {
    cursor: pointer;
    background-color: #EFF592;
}

@media (min-width: 768px) {
    .avatar-upload {
        position: relative;
        width: 60%!important;
    }
}
/* Corrects box size of select/option */
.select-option-size select {
    padding: 0.5rem;
}

.form-button {
    width:40%;
    background-color: #EFF592;
    border: 2px solid #333;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

/* ---------------------------------------- specific (unique) form styles */
/* Form ingredient and step boxe spacing */ 
.step-ingredient-spacing { /* change name to step-ingredient-formating */
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.step-ingredient-input { /* ------remove me Im pointless */
    /* position: relative;
    right:0;
    left:0;
    width: 100%; */
}

.step-ingredient-spacing input,
.step-ingredient-spacing textarea {
    width: 100%;
    /* position: relative;
    left: 0;
    right: 0; */
}

.step-ingredient-spacing p {
    margin-bottom: 0;
    /* width: 80%; */
    /* text-align: right; */
}

@media (max-width: 991.98px) {
    .browse-button {
        margin-bottom: 0.75rem;
    }
}

/* form and all button styles */
.custom-button,
.custom-button-delete {
    width: auto!important;
    /* margin-bottom: 1.5rem; */
    border: 2px solid #333;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5 );
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #B3F59F;
    /* padding: 0.25rem; */
    /* line-height: 1; */
}

.custom-button:disabled,
.custom-button-delete:disabled {
    background-color: #faf9f6;
} 

.custom-button-press-outer {
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
}

.custom-button-press {
    box-shadow: inset 4px 4px 2px rgba(0, 0, 0, .25 ),
                inset -4px -4px 2px rgba(0, 0, 0, .25 );
}

.checkboxes {
    width: 50%;
}

.checkboxes input {
    width: 20px;
    height: 20px;
}

.form-center-text {
    text-align: center;
}
/* Overrides default input (because of disable attribute) */
#time3 {
    text-align: center;
}

.time::-webkit-inner-spin-button {
    cursor: pointer;
}
/* ------------------------------------------------------- User Profile Section  ---------------------------------------------------------------- */
.profile-lists p {
    text-align: left;
}

.profile-lists a,
.profile-lists a:hover {
    color: #333;
    text-decoration: none;
}

.profile-button {
    margin: 1.5rem;
}
/* ------------------------------------------------------- Recipe Section  ---------------------------------------------------------------- */
.recipe-name {
    text-shadow: 2px 2px #a7a7a7;
}

.recipe-lists h6 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.recipe-lists {
    margin-bottom: 3rem;
}

.recipe-lists-no-padding {
    padding-left: 0;
}

.recipe-lists li {
    padding-bottom: 1.5rem;
}

.favorite img {
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0.25rem;
    position: relative;
}

.favorite img,
.favorite p {
    display: inline;
}

.recipe-lists-no-dec {
    list-style-type: none;
}

.checkbox-input {
    position:absolute;
    left:0rem;
    transform: translateY(0.75rem) translateX(1rem);
}

.checkbox-h6 {
    padding-left: 1rem!important;
    text-align: left;
}
/* ------------------------------------------------------- Pagination Section  ---------------------------------------------------------------- */
.pagination-content {
    font-size: 2rem;
    height: 3rem;
    padding: 0;
}

.pagination-selected {
    font-weight: bolder;
    color: #D912E7
}

.pagination-ul {
    padding: 0rem 1rem;
    position: absolute;
    width: 100%;
    bottom: 20px;
    right:0;
    cursor: pointer
}
/* ------------------------------------------------------- Lessons Section  ---------------------------------------------------------------- */
.lessons-bottom-padding {
    padding-bottom: 2rem;
}

.lessons-header {
    padding-top: 2rem;
}
/* ------------------------------------------------------- General Text and Breakpoint Section  ---------------------------------------------------------------- */
i,
.custom-nav input {
    font-size: 1rem;
}

p,
label,
input,
textarea,
legend,
select {
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
    font-size: 1.75rem;
    font-size: 1.75rem;  /* just an after thought  */
}

h1 {
    font-size: 3rem;
}

h3,
h6 {
    font-size: 2rem;
}

@media (max-width: 767.98px) {
    p,
    label,
    input,
    textarea,
    legend,
    select {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3,
    h6 {
        font-size: 1.5rem;
    }
    /* recipe -- favorite recipe icon (star) */
    .favorite img {
        height: 0.75rem;
        width: 0.75rem;
        bottom:0.1rem;
    }
    
    /* .make-space-top {
        padding-top: 2rem;
    } */

    .make-space {
        padding-bottom: 2rem;
    }

    .make-space-margin {
        margin-bottom: 2rem;
    }
    /* art -- index-card -- resize card with smaller devices*/
    .index-face,
    .index-back,
    .rotating-card {
        height: 17rem;
    }
}

@media (max-width: 575.98px) {
    p,
    label,
    input,
    textarea,
    legend,
    select {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3,
    h6 {
        font-size: 1.5rem;
    }

    .xxl-content-height {
        height: 23rem;
    } 
    .xl-content-height {
        /* height: 20rem;  --------Changed for cell, profile page, chef bio*/
        min-height: 20rem;
    }
    /* main nav bar */
    .custom-nav a,
    .custom-nav i,
    .custom-nav label
    {
        font-size: .75rem;
    }

    .custom-nav form {
        padding: .25rem 1rem;
    }
}
