@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


body {
    background-color: #474747;
    text-align: center;
    font-family: "Reenie Beanie",sans-serif;
}

hr {
    border-top: 2px solid #fff
}

.container {
    margin:0;
    padding:0;
}

/* ---------------------------------------- Text Effects or gradient Patterns  ---------------------------------------- */
.picnic-pattern { /* red traditional southen table linen pattern (square pattern) */
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0) 29%, rgba(226, 14, 14, 0.25) 30% 70%, rgba(0, 0, 0, 0) 71% 100%),
                repeating-linear-gradient(90deg, rgba(0, 0, 0, 0) 29%, rgba(226, 14, 14, 0.25) 30% 70%, rgba(0, 0, 0, 0) 71% 100%);
    background-color: #fff;
    background-size: 20px 20px;
}

.racoon-pattern { /* black southen table linen pattern (square pattern) */
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.25) 10% 50%, rgba(0, 0, 0, 0) 51% 100%),
                repeating-linear-gradient(90deg, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.25) 10% 50%, rgba(0, 0, 0, 0) 51% 100%);
    background-color: #fff;
    background-size: 20px 20px;
}

.cross-border { /* black cross grey background */
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0) 47%, #010203 48% 50%, rgba(0, 0, 0, 0) 51% 100%),
                repeating-linear-gradient(135deg, rgba(0, 0, 0, 0) 47%, #010203 48% 50%, rgba(0, 0, 0, 0)51% 100%);
    background-size: 10px 10px;
    background-color: #adadad;
}

.cross-border-2 { /* green cross grey background */
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0) 47%, #00ff0d 48% 50%, rgba(0, 0, 0, 0) 51% 100%),
                repeating-linear-gradient(135deg, rgba(0, 0, 0, 0) 47%, #00ff0d 48% 50%, rgba(0, 0, 0, 0)51% 100%);
    background-size: 10px 10px;
    background-color: #474747;
}

.bubble-letters {
    color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, .75),
                1px 0px rgba(0, 0, 0, .75),
                0px -1px rgba(0, 0, 0, .75),
                -1px 0px rgba(0, 0, 0, .75);
}

/* -- blank is extra till pymongo runs -- */
.blank-large-recipe {
    height: 300px;
}
.blank-carousel-recipe {
    height: 250px;
}

/* ---------------------------------------- Animation/Art  ---------------------------------------- */
/* ---------------------------------------- Social 'drink' link with ripple animation (start) ---------------------------------------- */
/* -- Ripple effect over 'drink' social links -- */
.ripple {
    position: absolute;
    height: 45px;
    width: 45px;
    transform: scale(0);
    border-radius: 50%;
    border: 2px solid #ce52007c;
    box-shadow: inset 2px 0px rgba(0, 0, 0, .25),
                inset 0px 2px rgba(0, 0, 0, .25),
                inset -2px 0px rgba(0, 0, 0, .25),
                inset 0px -2px rgba(0, 0, 0, .25),
                1px 0px #ff66007c,
                0px 1px #ff66007c,
                -1px 0px #ff66007c,
                0px -1px #ff66007c;
    z-index: 0;
    transform: translateX(-50%) translateY(11%) scale(0);
}

.create-ripple {
    animation: 10s linear 0s 1 normal forwards tea-ripple;
}

@keyframes tea-ripple {
    0%{transform: translateX(-50%) translateY(11%) scale(0);}
    90%{transform: translateX(-50%) translateY(11%) scale(.9);}
    100%{transform: translateX(-50%) translateY(11%);
        border: 2px solid #ce520000;
        box-shadow: inset 2px 0px rgba(0, 0, 0, 0),
                    inset 0px 2px rgba(0, 0, 0, 0),
                    inset -2px 0px rgba(0, 0, 0, 0),
                    inset 0px -2px rgba(0, 0, 0, 0),
                    1px 0px #ff660000,
                    0px 1px #ff660000,
                    -1px 0px #ff660000,
                    0px -1px #ff660000;}
}

.social-position:hover .ripple  {
    transition-duration: 2s;
    transform: translateX(-50%) translateY(11%) ;
    z-index: 1;
}

/* -- Outer most box of social links -- */
.social-link {
    position: absolute;
    z-index: 2;
    font-size: 1.5rem;
    transform: translateX(-50%) translateY(65%);
    z-index: 1;
}

/* -- Liquid layer of drink -- */
.liquid {
    background-color: #923c01;
    border-radius: 50%;
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 0;
    transform: translateX(11%) translateY(11%);
    z-index: 1;
}

/* -- glass 'container' layer of drink -- */
.glass {
    position: absolute;
    height: 55px;
    width: 55px;
    border: 5px solid #acacac80;
    border-radius: 50%;
    box-shadow:  -3px 0px 2px  rgba(0, 0, 0, .25),
                inset 2px 0px 2px  rgba(0, 0, 0, .5),
                 0px -3px 2px  rgba(0, 0, 0, .25),
                inset 0px 2px 2px  rgba(0, 0, 0, .5);
    z-index: 1;
}
/* ---------------------------------------- Social 'drink' link with ripple animation (end) ---------------------------------------- */

/* ---------------------------------------- Napkin ---------------------------------------- */

.shadow-box {
    height:80px;
    width: 80px;
    position: absolute;
    background-color: transparent;
    box-shadow:   -1px 0px 2px  rgba(0, 0, 0, .5),
                2px 0px 2px  rgba(0, 0, 0, .75),
                 0px -1px 2px  rgba(0, 0, 0, .5),
                0px 2px 2px  rgba(0, 0, 0, .75);
}

.napkin-out-container {
  height: 80px;
  width: 80px;
  background-color: #fff;
  /*box-shadow:  -1px 0px 2px  rgba(0, 0, 0, .5),     -------  original-----
                inset 2px 0px 2px  rgba(0, 0, 0, .75),
                 0px -1px 2px  rgba(0, 0, 0, .5),
                inset 0px 2px 2px  rgba(0, 0, 0, .75);*/
 /* box-shadow:  inset -1px 0px 2px  rgba(0, 0, 0, .5),
                2px 0px 2px  rgba(0, 0, 0, .75),
                inset 0px -1px 2px  rgba(0, 0, 0, .5),
                0px 2px 2px  rgba(0, 0, 0, .75);*/
    background-color: #e0e0e0;
      transform: rotate(180deg) translateX(25%) translateY(25%);
    z-index: 0;
}


.napkin-out-container div {
  position: absolute;
  z-index: 0;
}

.napkin-vertical-lines {
  width: 70px;
  height: 15px;
  transform: translateY(65px);
  background: repeating-linear-gradient(to right, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 54%, rgba(0,0,0,0) 54% 100%);
  background-size: 5px 5px;
}

 .napkin-horizontal-lines {
  /*box-sizing: border-box;*/
  width: 15px;
  height: 80px;
  transform: translateX(65px);
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 54%, rgba(0,0,0,0) 54% 100%);
  background-size: 5px 5px;
  border-bottom: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
}

.napkin-right-triangle-corner {
    width: 30px;
    height: 30px;
    background: repeating-linear-gradient(to top, rgba(0,0,0,0)30%, rgba(124, 124, 124, 0.5) 30% 52%, rgba(0,0,0,0) 52% 100%);
    background-size: 5px 5px;
    clip-path: polygon(0% 50%, 50% 50%, 50% 0%);
    transform: translate(50px, 65px) rotate(90deg);
    background-color: #e0e0e0;
}

.napkin-border-lines{
  width: 65px;
  height: 65px;
  border-bottom: 3px double rgba(124, 124, 124, 0.5);
  border-right: 3px double rgba(124, 124, 124, 0.5);
}



/* ---------------------------------------- Index Page  ---------------------------------------- */
/* ---------------------------------------- Header  ---------------------------------------- */
.logo-background {
    background-image: url("../images/grain-1-90.jpg");
    background-size: 100% 100%;
    z-index: 0;
    border-radius: 5%;
    margin: 2rem;
    box-shadow:  -3px 0px 2px  rgba(0, 0, 0, .5),
                inset 2px 0px 2px  rgba(0, 0, 0, .75),
                 0px -3px 2px  rgba(0, 0, 0, .5),
                inset 0px 2px 2px  rgba(0, 0, 0, .75);
    /*
    box-shadow: 0px -4px 5px rgba(0, 0, 0, .75),
                -4px 0px 5px rgba(0, 0, 0, .75);
    */
}

.header-text-1:before,
.header-text-1:after,
.header-text-2:before,
.header-text-2:after {
    position: absolute;
    right: 0;
    left: 0;
}

/* -- wood grain image for text -- */
.header-text-1,
.header-text-2 {
    font-size: 3.5rem;
    font-family: "Indie Flower", sans-serif;
    background: url("../images/grain-1-90.jpg") no-repeat center top;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    color: transparent;
    -webkit-background-clip: text;
    z-index: 2;
    margin: 0;
}

/* -- Adds shadow or depth to text -- */
.header-text-1:before,
.header-text-2:before {
    z-index: -1;
    text-shadow: -1px 0px rgba(0, 0, 0, .75),
                0px -2px rgba(0, 0, 0, .75);
}

.header-text-1:before {
    content: "Fat";
}

/* -- adds a full text body shadow -- */
.header-text-1:after {
    content: "Fat";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}

.header-text-2:before {
    content: "Racoon";
}

/* -- adds a full text body shadow -- */
.header-text-2:after {
    content: "Racoon";
    text-shadow: 0px 0px rgba(0, 0, 0, .1);
}

/* ---------------------------------------- Nav Bar ---------------------------------------- */
.custom-nav {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background: #fff;
    border-top: 2px solid rgba(14, 266, 266, .5);
    border-bottom: 2px solid rgba(14, 266, 266, .5);
}

/* ---------------------------------------- Recommended Recipe and Carousel  ---------------------------------------- */
.card-external {
    padding: 1.5rem !important;
    color: #fff;
}

.recipe-picture {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    background: #010203;
}

.recipe-descript {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1rem;
    padding: 1rem !important;
    background-color: #fff;
    margin: 0rem;
}

.avatar {
    position: relative;
    border-radius: 50%;
    background-color: royalblue;
    height: 75px;
    width: 75px;
    float: left;

}

.card-carousel {
    padding: 1rem !important;
}

.carousel-picture {
    height:50%;
    padding: 1rem !important;
    background-color: #010203;
}

/* ---------------------------------------- Footer ---------------------------------------- */
footer {
    background-image: url("../images/cuttingboard-90.jpg");
    background-size: contain;
    background-size: 100% 100%;
    height: 15rem;
}

.table-runner-pattern {
    position: absolute;
    height: 15%;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, .25),
                0px -1px 5px 5px rgba(0, 0, 0, .25 );
}

.social-position  {
    position: relative;
    width: 55px;
    height: 55px;
    top: 105%;       /*-------------------JS assign me*/
}

@media (max-width: 767.98px) {
    .social-position {
        top: 0%;
    }
}

.footer-ul li { /* removes border and white boxes placed by bootstrap */
    background:transparent;
    border: none;
}

.racoon img {
    height: 100%;
    width: 50%;
    position: relative;
    top:0;
    bottom:0;
}