{% extends "base_login.html" %}
{% block section %}
<section class="row no-gutters" style="background-color:rgba(14, 255, 255, 0.5);">
    <div class="col-12">
        <div class="row no-gutters justify-content-center">
            {% if recipeId == "new" %} <!--  if session.editRecipe  --> <!-- I dont require apostrophe thats not right!! new is a string not variable -->
            <!--  For creating a new recipe  -->
                <form class="col-10 form-base NEW" method="POST" enctype="multipart/form-data" action="{{ url_for('add_edit_recipe', recipeId='new') }} ">
            {% else %}
            <!--  For editing a existing recipe  -->
                <form class="col-10 form-base ID" method="POST" enctype="multipart/form-data" action="{{ url_for('add_edit_recipe', recipeId=recipeInfo._id) }}">
            {% endif %}
                    <div class="row no-gutters">

                    
                    <!-- Section Description Header -->
                    <div class="col-12">
                        {% if recipeInfo == none %}
                        <!--  For creating a new recipe  -->
                            <h1>Add New Recipe</h1>
                        {% else %}
                        <!--  For editing a existing recipe  -->
                            <h1>{{ recipeInfo.name }}</h1>
                        {% endif %}
                    </div>
                    <hr>

                    <!-- Recipe Header - name and times -->
                    <fieldset class="col-12">
                        <div class="row no-gutters justify-content-center form-input-spacing">
                            <!--  Recipe Name  -->
                            <div class="col-12">
                                <label  type="text" for="recipeName">Recipe Name</label>
                            </div>
                            <div class="col-12">
                                {% if recipeInfo == none %}
                                <!--  For creating a new recipe  -->
                                    <input type="text" id="recipeName" name="recipeName" value="Recipe Name">
                                {% else %}
                                <!--  For editing a existing recipe  -->
                                    <input type="text" id="recipeName" name="recipeName" value="{{ recipeInfo.name }}">
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row no-gutters justify-content-center">
                            <!--  Prep Time  -->
                            <span class="col-12 col-md-3 form-input-spacing">
                                <div class="row no-gutters">
                                    <div class="col-12 ">
                                        <label type="text" for="prepTime">Prep Time</label>
                                    </div>
                                    <div class="col-12">
                                        {% if recipeInfo == none %}
                                        <!--  For creating a new recipe  -->
                                            <input class="time" type="number" id="prepTime" name="prepTime" value="15">
                                        {% else %}
                                        <!--  For editing a existing recipe  -->
                                            <input class="time" type="number" id="prepTime" name="prepTime" value="{{ recipeInfo.time[0] }}">
                                        {% endif %}
                                        <p>Minutes</p>
                                    </div>
                                </div>
                            </span>
                        
                            <!--  Cook Time  -->
                            <span class="col-12 col-md-3 form-input-spacing">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label type="text" for="cookTime">Cook Time</label>
                                    </div>
                                    <div class="col-12">
                                        <!-- Rewrite flask in value into repeating inputs -->
                                        {% if recipeInfo == none %}
                                        <!--  For creating a new recipe  -->
                                            <input class="time" type="number" id="cookTime" name="cookTime" value="10">
                                        {% else %}
                                        <!--  For editing a existing recipe  -->
                                            <input class="time" type="number" id="cookTime" name="cookTime" value="{{ recipeInfo.time[1] }}">
                                        {% endif %}
                                        <p>Minutes</p>
                                    </div>    
                                </div>
                            </span>
                        
                            <!--  Total Time  -->
                            <span class="col-12 col-md-3 form-input-spacing">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label type="text" for="totalTime">Total Time</label>
                                    </div>
                                    <div class="col-12">
                                        <!-- Rewrite flask in value into repeating inputs -->
                                        {% if recipeInfo == none %}
                                        <!--  For creating a new recipe  -->
                                            <input type="number" id="totalTime" name="totalTime" value="25" disabled>
                                        {% else %}
                                        <!--  For editing a existing recipe  -->
                                            <input type="number" id="totalTime" name="totalTime" value="{{ recipeInfo.time[2] }}" disabled>
                                        {% endif %}
                                            <p>Minutes</p>
                                    </div>
                                </div>
                            </span>

                        </div>
                    </fieldset>

                    <!-- Recipe Feature -->
                    <fieldset class="col-12 col-md-6 form-input-spacing">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <label type="text" for="feature">Featured Ingredient</label>
                            </div>
                            <div class="col-12">

                                <select name="feature" id="feature" style="font-size: 1.5rem;">
                                    {% for feature in features %}
                                        <!--<option value="{{feature.name}}" {% if recipeInfo == none and feature.name == 'chicken' %}selected{% elif feature.name == recipeInfo.feature %}selected{% endif %}>{{ feature.name.title() }}</option>-->
                                        
                                        {% if recipeInfo == none and feature.name == 'chicken' %}
                                        <!--  For creating a new recipe  -->
                                            <option value="{{feature.name}}" selected>{{ feature.name.title() }}</option>
                                        {% elif feature.name == recipeInfo.feature %}
                                        <!--  For editing a existing recipe  -->
                                            <option value="{{feature.name}}" selected>{{ feature.name.title() }}</option>
                                        {% else %}
                                        <!--  For all none selected catagories  -->
                                            <option value="{{feature.name}}">{{ feature.name.title() }}</option>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </select>
                                
                                <!--<input type="text" id="feature" name="feature">-->
                            
                            </div>
                        </div>
                    </fieldset>

                    <!-- Recipe Image -->
                    <fieldset class="col-12 col-md-6 form-input-spacing">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <label type="text" for="avatar">Recipe Image</label>
                            </div>
                            <div class="col-12">
                                <input type="file" name="avatar" id="avatar">
                                <input type="text" name="avatar_name" id="avatar_name" class="make-invis" value="">
                                <input type="text" name="avatar_file_valid" id="avatar_file_valid" class="make-invis" value="">
                                <p id="avatar_valid" class="make-invis">Please select a file of 500KB or less. Server space is limited!</p>
                            </div>
                        </div>
                    </fieldset>

                    {% if admin == True %}
                    <!--  FR Lazy Favorite and Grandparent Classic -->
                    <fieldset class="col-12 form-input-spacing">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <legend type="text" for="avatar">FR Lazy Favorite or Grandparent Classic</legend>
                            </div>
                            <div class="col-12 radio-buttons">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-6">
                                        {% if recipeInfo.lazy == True %}
                                        <input type="checkbox" name="lazy" id="lazy" value="True" checked>
                                        {% else %}
                                        <input type="checkbox" name="lazy" id="lazy" value="True">
                                        {% endif %}
                                        <label for="lazy">Lazy favorite</label>
                                    </div>
                                   <div class="col-12 col-md-6">
                                        {% if recipeInfo.grandparent == True %}
                                       <input type="checkbox" name="grandparent" id="grandparent" value="True" checked>
                                       {% else %}
                                       <input type="checkbox" name="grandparent" id="grandparent" value="True">
                                        {% endif %}
                                       <label for="grandparent">Grandparent Classic</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {% endif %}

                    <!-- Recipe description -->
                    <fieldset class="col-12 form-input-spacing">
                        <div class="row no-gutters justify-content-center" >
                            <div class="col-12">
                                <label type="text" for="recipeDescription">Recipe Description</label>
                            </div>
                            <div class="col-12">
                                {% if recipeInfo == none %}
                                <!--  For creating a new recipe  -->
                                    <textarea type="text" id="recipeDescription" name="recipeDescription" cols="20" rows="5">Recipe Description</textarea>
                                {% else %}
                                <!--  For editing a existing recipe  -->
                                    <textarea type="text" id="recipeDescription" name="recipeDescription" cols="20" rows="5">{{ recipeInfo.text }}</textarea>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>

                    <!-- Recipe ingredients -->
                    <fieldset class="col-12 form-input-spacing">
                        <div class="row no-gutters justify-content-center">

                            <div class="col-12"> <!-- removed . recipe-form-label  because of padding right -- off centering text -->
                                <label type="text" for="recipeIngredients" id="ingredientNumber">Recipe Ingredients (<span>1</span>)</label>  <!-- for id and name will have problems with JS additional script -->
                            </div>
                            
                            <div class="col-12">
                                <div class="row no-gutters justify-content-center">

                                    <div class="col-4 col-md-2">
                                        <div class="row no-gutters">
                                            <div class="col-12 custom-button recipeAddButton">
                                                <p>add</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-2">
                                        <div class="row no-gutters">
                                            <div class="col-12 custom-button recipeRemoveButton">
                                                <p>Remove</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-10">
                                <div class="row no-gutters justify-content-center ingredientAddRemoveLocation">
                                    {% if recipeInfo == none %}
                                    <input class="make-invis" type="text" name="recipeIngredientsTotal" id="recipeIngredientsTotal" value="1">
                                    <div class="col-12 col-md-6">
                                        <div class="row no-gutters align-items-center step-ingredient-spacing">
                                            <span>1. </span>
                                            <input class="col-11 countIngredients" type="text" id="recipeIngredients-1" name="recipeIngredients-1">
                                        </div>
                                    </div>
                                    {% else %}
                                        <input class="make-invis" type="text" name="recipeIngredientsTotal" id="recipeIngredientsTotal" value="{{ recipeIngEnum[-1][0] + 1 }}">
                                        {% for ingredient in recipeIngEnum %}
                                            <div class="col-12 col-md-6">
                                                <div class="row no-gutters align-items-center step-ingredient-spacing">
                                                    <span>{{ingredient[0] + 1}}. </span>
                                                    <input class="col-11 countIngredients" type="text" id="recipeIngredients-{{ingredient[0] + 1}}" name="recipeIngredients-{{ingredient[0] + 1}}" value="{{ingredient[1]}}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}            
                                </div>
                            </div>
                        
                        </div>
                    </fieldset>

                    <!-- Recipe steps -->
                    <fieldset class="col-12 form-input-spacing">
                        <div class="row no-gutters justify-content-center">

                            <div class="col-12">
                                <label type="text" for="recipeSteps" id="stepNumber">Recipe Steps (<span>1</span>)</label>  <!-- for id and name will have problems with JS additional script -->
                            </div>

                            <div class="col-12">
                                <div class="row no-gutters justify-content-center">

                                    <div class="col-4 col-md-2">
                                        <div class="row no-gutters justify-content-end">
                                            <div class="col-12 custom-button stepAddButton">
                                                <p>add</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-2">
                                        <div class="row no-gutters">
                                            <div class="col-12 custom-button stepRemoveButton">
                                                <p>remove</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-10">
                                <div class="row no-gutters justify-content-center stepAddRemoveLocation">
                                    {% if recipeInfo == none %}
                                    <input class="make-invis" type="text" name="recipeStepsTotal" id="recipeStepsTotal" value="1">
                                    <div class="col-12 col-md-6">
                                        <div class="row no-gutters align-items-center step-ingredient-spacing">
                                            <span>1. </span>
                                            <textarea class="col-11 countSteps" type="text" id="recipeSteps-1" name="recipeSteps-1" cols="20" rows="3"></textarea>
                                            <!-- I count for DB upload!! -->
                                        </div>
                                    </div>
                                    {% else %}
                                        <input class="make-invis" type="text" name="recipeStepsTotal" id="recipeStepsTotal" value="{{ recipeSteEnum[-1][0] + 1}}">
                                        {% for step in recipeSteEnum %}
                                            <div class="col-12 col-md-6">
                                                <div class="row no-gutters align-items-center step-ingredient-spacing">
                                                    <span>{{step[0] + 1}}. </span>
                                                    <textarea class="col-11 countSteps" type="text" id="recipeSteps-{{step[0] + 1}}" name="recipeSteps-{{step[0] + 1}}" value="" col="20" rows="3">{{step[1]}}</textarea>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}                                            
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Recipe history --><!--
                    <fieldset class="col-12">
                        <div class="row no-gutters justify-content-center align-items-center">
                            <div class="col-12 col-md-6 recipe-form-label">
                                <label type="text" for="recipeHistory">Recipe History</label>
                            </div>
                            <div class="col-12 col-md-6 recipe-form-input">
                                 if recipeInfo == none %}
                                    <textarea type="text" name="recipeHistory" id="recipeHistory" cols="20" rows="5">recipeHistory</textarea>
                                 else %}
                                    <textarea type="text" name="recipeHistory" id="recipeHistory" cols="20" rows="5"> recipeInfo.history }}</textarea>
                                 endif %}
                            </div>
                        </div>
                    </fieldset>-->

                    <!-- submit button -->
                    <div class="col">
                        <input class="custom-button" id="custom-button" type="submit" value="Submit">
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/addEditRecipe.js') }}"></script>
{% endblock %}