{% extends "base.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <!-- Recipes per Feature -->
    <div class="col-12">
        <div class="row no-gutters">
            <!-- Feature with Recipes  -->
            {% for feature in allFeatures %}
            <div class="col-6 ">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note recipe-list-height 
                    {% if feature[0] % 2 %}
                    sticky-note-right
                    {% endif %}">
                        
                        <div class="sticky-note-inner-div">
                            <ul class="recipe-lists recipe-lists-no-dec">
                                    <a href="{{ url_for('recipe_list', feature=feature[1].name) }}">
                                        <h1>{{ feature[1].name.title() }} Recipes </h1>
                                    </a>
                                <hr>
                                {% for recipe in allRecipes %}
                                {% if recipe.feature == feature[1].name %}
                                    <li class="make-invis">
                                        <a href="{{ url_for('recipe', recipeId=recipe._id) }}" class="row no-gutters">
                                            <span class="col-8">
                                                <h6><strong>{{ recipe.name }}</strong>:</h6>
                                            </span>
                                            <span class="col-4" style="text-align: center;">
                                                <div class="row no-gutters">
                                                    <div class="col-12">
                                                        <h6>Total Time: </h6>
                                                    </div>
                                                    <div class="col-12">
                                                        <h6><strong>{{ recipe.time[2] }} Minutes</strong></h6>
                                                    </div>
                                                </div>
                                            </span>
                                        </a>
                                    </li>

                                    {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}