<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fat Racoon Kitchen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='images/raccoon_favicon.png') }}" type="image/gif">
    {% block custom_style %}
    {% endblock %}
</head>
<body>
    {% block modal %}
    {% endblock %}

    <!-- Site Header -->
    <header class="row no-gutters justify-content-center picnic-pattern blank-anchor">
        <!-- Logo -->
        <div class="col-10 col-md-4 logo-background">
            <a href="{{ url_for('index') }}">
                <h1>
                    <span class="header-text-1">Fat</span>
                    <br/>
                    <span class="header-text-2">Raccoon</span>
                </h1>
            </a>
        </div>
    </header>
    
    <!-- Main nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav yanone-text" >
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/s_raccoon_face.svg') }}" class="fat-raccoon-logo" alt="Fat raccoon face">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.endpoint == "index" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                {% endif %}
                {% if request.endpoint == "lessons" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Lesson <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Lesson</a>
                </li>
                {% endif %}
                {% if request.endpoint == "all_recipes" or request.endpoint == "recipe_list" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('all_recipes') }}">Recipes <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_recipes') }}">Recipes</a>
                </li>
                {% endif %}
                {% if request.endpoint == "recipe" or request.endpoint == "add_edit_recipe" or request.endpoint == "addFavorite" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('all_recipes') }}">{{ recipeInfo.name.title() }} <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if session.user == null %}
                <li class="nav-item">
                    <a class="nav-link login-modal" href="#">Login</a>
                </li>
                {% elif session.user and request.endpoint == "profile" or request.endpoint == "edit_user_info" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% elif session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 nav-search" method="POST" action="{{ url_for('search_bar_returns', search='user_search') }}">
                <input class="form-control mr-sm-2" name="userSearch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-3 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

        <!-- Flash Message -->
    <aside id="flash" class="yanone-text">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row no-gutters justify-content-center flash align-items-center">
                    <div class="col-10">
                        <h1> {{ message }} </h1>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {%endwith%}
    </aside>

    {% block section %}
    {% endblock %}

    <!--  Footer (contains wood grain background)  -->
    <footer class="container-fluid px-0" >
        <!-- Table runner background -->
        <div class="racoon-pattern table-runner-pattern ">
            <div class="row no-gutters justify-content-center align-items-center max-height">
                <!-- Logo-->
                <section class="col-md-4 col-lg-5 col-xl-6 d-none d-md-block logo-background blank-anchor">
                    <a href="{{ url_for('index') }}">
                        <h2>
                            <span class="header-text-1">Fat</span>
                            <br/>
                            <span class="header-text-2">Raccoon</span>
                        </h2>
                    </a>
                </section>
                <!--  Social Links  -->
                <section class="col-10 col-md-7 col-lg-6 col-xl-5 ">
                    <ul class="row no-gutters justify-content-center footer-ul social-link-push recipe-lists-no-padding">
                        <!-- Facebook link -->
                        <li class=" col-6 col-sm-3">
                            <div class="social-position">
                                <!-- Cup art -->
                                <div class="liquid"></div>
                                <div class="glass"></div>
                                <div class="glass-shadow"></div>
                                <span class="ripple"></span>
                                <a href="https://www.facebook.com/" target="_blank" aria-label="External link to Fat Raccoon's Facebook" rel="noopener">
                                    <i class="fab fa-facebook-square social-link" aria-hidden="true"></i>
                                </a>
                                <!-- Napkin art -->
                                <div class="napkin-out-container">
                                    <div class="napkin-shadow"></div>
                                    <div class="napkin-border-lines"></div>
                                    <div class="napkin-horizontal-lines"></div>
                                    <div class="napkin-vertical-lines"></div>
                                    <div class="napkin-right-triangle-corner"></div>
                                </div>
                            </div>
                        </li>
                        <!-- Instagram link -->
                        <li class=" col-6 col-sm-3">
                            <div class="social-position">
                                <!-- Cup art -->
                                <div class="liquid"></div>
                                <div class="glass"></div>
                                <div class="glass-shadow"></div>
                                <span class="ripple"></span>
                                <a href="https://www.instagram.com/" target="_blank" aria-label="External link to Fat Raccoon's Instagram" rel="noopener">
                                    <i class="fab fa-instagram social-link" aria-hidden="true"></i>
                                </a>
                                <!-- Napkin art -->
                                <div class="napkin-out-container">
                                    <div class="napkin-shadow"></div>
                                    <div class="napkin-border-lines"></div>
                                    <div class="napkin-horizontal-lines"></div>
                                    <div class="napkin-vertical-lines"></div>
                                    <div class="napkin-right-triangle-corner"></div>
                                </div>
                            </div>
                        </li>
                        <!-- Pinterest Link -->
                        <li class=" col-6 col-sm-3">
                            <div class="social-position">
                                <!-- Cup art -->
                                <div class="liquid"></div>
                                <div class="glass"></div>
                                <div class="glass-shadow"></div>
                                <span class="ripple"></span>
                                <a href="https://www.pinterest.com/" target="_blank" aria-label="External link to Fat Raccoon's Pinterest" rel="noopener">
                                    <i class="fab fa-pinterest-square social-link" aria-hidden="true"></i>
                                </a>
                                <!-- Napkin art -->
                                <div class="napkin-out-container">
                                    <div class="napkin-shadow"></div>
                                    <div class="napkin-border-lines"></div>
                                    <div class="napkin-horizontal-lines"></div>
                                    <div class="napkin-vertical-lines"></div>
                                    <div class="napkin-right-triangle-corner"></div>
                                </div>
                            </div>
                        </li>
                        <!-- Twitter link -->
                        <li class=" col-6 col-sm-3">
                            <div class="social-position">
                                <!-- Cup art -->
                                <div class="liquid"></div>
                                <div class="glass"></div>
                                <div class="glass-shadow"></div>
                                <span class="ripple"></span>
                                <a href="https://twitter.com/?lang=en" target="_blank" aria-label="External link to Fat Raccoon's Twitter" rel="noopener">
                                    <i class="fab fa-twitter-square social-link " aria-hidden="true"></i>
                                </a>
                                <!-- Napkin art -->
                                <div class="napkin-out-container">
                                    <div class="napkin-shadow"></div>
                                    <div class="napkin-border-lines"></div>
                                    <div class="napkin-horizontal-lines"></div>
                                    <div class="napkin-vertical-lines"></div>
                                    <div class="napkin-right-triangle-corner"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
    <!-- <script src="{{ url_for('static', filename='js/passwordVal.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/general.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% block custom_script %}
    {% endblock %}
</body>
</html>