{% extends "base_login.html" %}
{% block section %}
<section class="row no-gutters" style="background-color:rgba(14, 255, 255, 0.5);">
    <div class="col-12">
        <div class="row no-gutters justify-content-center">
            <form class="col-10 form-base" method="POST" enctype="multipart/form-data" action="{{ url_for('edit_user_info', userInfo=userInfo) }}">
                <div class="row no-gutters justify-content-around">
                    <!-- header -->
                    <div class="col-12 form-input-spacing">
                        <h1>Update {{userInfo.username}}'s Information</h1>
                        <hr>
                    </div>

                    <!-- User Name -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <label  type="text" for="usernameEdit">Name</label>
                            </div>
                            <div class="col-12">
                                <input class="formValidation nameValidation" type="text" id="usernameEdit" name="usernameEdit" value="{{ userInfo.username }}" minlength="6" maxlength="30" pattern="^[a-zA-Z0-9%_$]{5,20}$" invalid required>
                                <div class="invalid-form form-is-valid make-invis">
                                    <p class="make-invis">Must be between 6 and 30 characters, can contain letters, numbers, and '@.%$'</p>
                                    <p class="make-invis"></p>
                                    <p class="make-invis">Cannot contain ' " $ ,</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <label  type="text" for="emailEdit">Email</label>
                            </div>
                            <div class="col-12">
                                <input class="formValidation emailValidation" type="email" id="emailEdit" name="emailEdit" value="{{ userInfo.email }}" minlength="6" maxlength="30" pattern="^[a-zA-Z0-9@.%$]{6,30}$" invalid required>
                                <div class="invalid-form form-is-valid make-invis">
                                    <p class="make-invis">Must be between 6 and 30 characters, can contain letters, numbers, and '@.%$'</p>
                                    <p class="make-invis">must contain appropiate email suffix</p>
                                    <p class="make-invis">Cannot contain ' " $ ,</p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Avatar -->
                    <!--<fieldset class="col-12">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-md-6 recipe-form-label">
                                <label type="text" for="avatar">Avatar</label>
                            </div>
                            <div class="col-12 col-md-6 recipe-form-input">
                                <input type="file" name="avatar" id="avatar">
                                <input type="text" name="avatar_name" id="avatar_name" class="make-invis" value="">
                                <input type="text" name="avatar_file_valid" id="avatar_file_valid" class="make-invis" value="">
                                <p id="avatar_valid" class="make-invis">Please select a file of 500KB or less. Server space is limited!</p>
                            </div>
                        </div>
                    </fieldset> -->


                    <!-- Password and avatar -->
                    <div class="col-12"> <!-- passwordSets JS target -->
                        <div class="row no-gutters justify-content-center">
                            
                            <!--  avatar  -->
                            <div class="col-12 col-md-6 form-input-spacing">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label type="text" for="avatar">Avatar</label>
                                    </div>
                                    <div class="col-12">
                                        <input type="file" name="avatar" id="avatar">
                                        <input type="text" name="avatar_name" id="avatar_name" class="make-invis" value="">
                                        <input type="text" name="avatar_file_valid" id="avatar_file_valid" class="make-invis" value="">
                                        <p id="avatar_valid" class="make-invis">Please select a file of 500KB or less. Server space is limited!</p>
                                    </div>
                                </div>
                            </div>

                            <!--  current password  -->
                            <div class="col-12 col-md-6 form-input-spacing">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label for="passwordEdit">Current Password</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="formValidation passwordSets form-invalid-view" type="password" id="password" name="password" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$" invalid required>
                                        <div class="invalid-form make-invis">
                                            <p>Password must contain upper case letter, lower case letter, a number, and be between 8 and 20 characters</p>
                                            <p class="make-invis">New password and confirm new password must match</p>
                                            <p class="make-invis">Cannot contain ' " $ ,</p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-4 hidePassword">
                                        <p class="custom-button">Create new password</p>
                                    </div>
                                
                            <!--  new passwod  -->
                            <div class="col-12 col-md-6 form-input-spacing make-invis hidePassword">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label for="newPasswordEdit">New Password</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="formValidation passwordSets passwordCompare" type="password" id="passwordCheck1" name="passwordCheck1" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$">
                                        <div class="invalid-form form-is-valid make-invis">
                                            <p class="make-invis">Password must contain upper case letter, lower case letter, a number, be between 8 and 20 characters and must match new password</p>
                                            <p class="make-invis">New password and confirm new password must match</p>
                                            <p class="make-invis">Cannot contain ' " $ ,</p>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!--  Confirm new password  -->
                            <div class="col-12 col-md-6 form-input-spacing make-invis hidePassword">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <label for="newPasswordCheckEdit">Confirm New Password</label>
                                    </div>
                                    <div class="col-12">
                                        <input class="formValidation passwordSets passwordCompare" type="password" id="passwordCheck2" name="passwordCheck2" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$">
                                        <div class="invalid-form form-is-valid make-invis">
                                            <p class="make-invis">Password must contain upper case letter, lower case letter, a number, be between 8 and 20 characters and must match new password</p>
                                            <p class="make-invis">New password and confirm new password must match</p>
                                            <p class="make-invis">Cannot contain ' " $ ,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>

                        </div>
                    </div>

                    <!-- Bio -->
                    <div class="col-12 form-input-spacing">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <label  type="text" for="Bio">Bio</label>
                            </div>
                            <div class="col-12">
                                <textarea name="bio" id="bio" cols="30" rows="5" minlength="8" maxlength="400" pattern="^[a-zA-Z0-9_&%$#]{8,120}$">{{ userInfo.bio }}</textarea>
                            </div>
                        </div>
                    </div>                   

                    <!-- submit button -->
                    <div class="col">
                        <input class="custom-button" id="custom-button" type="submit" value="Submit" disabled>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/editUserInfo.js') }}"></script>
<script src="{{ url_for('static', filename='js/passwordVal.js') }}"></script>
{% endblock %}