{% extends "base_login.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <!-- Back Button -->
    <div class="col-4 col-lg-2 custom-button sticky-note-no-shadow profile-button blank-anchor custom-js-button">
        <a href="{{ url_for('profile') }}">
            <div class="sticky-note-inner-div">
                <h6>Back</h6>
            </div>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <!-- form -->
            <form class="col-10 form-base generic-box-shadow yanone-text" method="POST" enctype="multipart/form-data" action="{{ url_for('update_user_info') }}">
                <div class="row no-gutters justify-content-around">
                    <!-- header -->
                    <div class="col-12 ">
                        <h1>Update {{ userInfo.username.title() }}'s Information</h1>
                        <hr class="make-space">
                    </div>
                    
                    <!-- User Name -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <label  type="text" for="username">Name</label>
                        <input class="formValidation nameValidation" type="text" id="username" name="username" value="{{ userInfo.username.title() }}" minlength="5" maxlength="100" pattern="^[a-zA-Z0-9%_$]{5,100}$" invalid required>
                        <div class="invalid-form form-is-valid make-invis">
                            <p class="make-invis remove-p-margin">Must be between 5 and 100 characters, can contain letters, numbers, and '@.%$'</p>
                            <p class="make-invis remove-p-margin"></p>
                            <p class="make-invis remove-p-margin">Cannot contain ' " $ ,</p>
                        </div>
                    </div>
                    
                    <!-- Email -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <label  type="text" for="email">Email</label>
                        <input class="formValidation emailValidation" type="email" id="email" name="email" value="{{ userInfo.email }}" minlength="5" maxlength="255" pattern="^[a-zA-Z0-9@.%$]{5,255}$" invalid required>
                        <div class="invalid-form form-is-valid make-invis">
                            <p class="make-invis remove-p-margin">Must be between 5 and 255 characters, can contain letters, numbers, and '@.%$'</p>
                            <p class="make-invis remove-p-margin">must contain appropiate email suffix *hint* must end in .com, .edu, .net, .org</p>
                            <p class="make-invis remove-p-margin">Cannot contain ' " $ ,</p>
                        </div>
                    </div>
                    
                    <!--  avatar  -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <label type="text" for="avatar">Avatar</label>
                        <input type="file" name="avatar" id="avatar" class="avatar-upload-user clickable">
                        <input type="text" name="avatar_name" id="avatar_name" class="make-invis" value="">
                        <input type="text" name="avatar_file_valid" id="avatar_file_valid" class="make-invis" value="">
                        <p id="avatar_valid" class="make-invis remove-p-margin">Please select a file of 500KB or less. Server space is limited!</p>
                    </div>
                    
                    <!--  current password  -->
                    <div class="col-12 col-md-6 form-input-spacing">
                        <label for="passwordEdit">Current Password</label>
                        <input class="formValidation passwordSets form-invalid-view" type="password" id="password" name="password" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$" invalid required>
                        <div class="invalid-form make-invis">
                            <p>Password must contain upper case letter, lower case letter, a number, and be between 8 and 20 characters</p>
                            <p class="make-invis remove-p-margin">New password and confirm new password must match</p>
                            <p class="make-invis remove-p-margin">Cannot contain ' " $ ,</p>
                        </div>
                    </div>
                    
                    <!-- Reveal creating of new password inputs -->
                    <div class="col-12 hidePassword make-space custom-js-button">
                        <p class="form-button remove-p-margin">Create new password</p>
                    </div>
                    
                    <!--  new passwod  -->
                    <div class="col-12 col-md-6 form-input-spacing make-invis hidePassword">
                        <label for="newPasswordEdit">New Password</label>
                        <input class="formValidation passwordSets passwordCompare" type="password" id="passwordCheck1" name="passwordCheck1" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$">
                        <div class="invalid-form form-is-valid make-invis">
                            <p class="make-invis remove-p-margin">Password must contain upper case letter, lower case letter, a number, be between 8 and 20 characters and must match new password</p>
                            <p class="make-invis remove-p-margin">New password and confirm new password must match</p>
                            <p class="make-invis remove-p-margin">Cannot contain ' " $ ,</p>
                        </div>
                    </div>
                    
                    <!--  Confirm new password  -->
                    <div class="col-12 col-md-6 form-input-spacing make-invis hidePassword">
                        <label for="newPasswordCheckEdit">Confirm New Password</label>
                        <input class="formValidation passwordSets passwordCompare" type="password" id="passwordCheck2" name="passwordCheck2" value="" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_&%$#]{8,20}$">
                        <div class="invalid-form form-is-valid make-invis">
                            <p class="make-invis remove-p-margin">Password must contain upper case letter, lower case letter, a number, be between 8 and 20 characters and must match new password</p>
                            <p class="make-invis remove-p-margin">New password and confirm new password must match</p>
                            <p class="make-invis remove-p-margin">Cannot contain ' " $ ,</p>
                        </div>
                    </div>
                    
                    <!-- Bio -->
                    <div class="col-12 form-input-spacing">
                        <label  type="text" for="bio">Bio</label>
                        <textarea name="bio" id="bio" cols="30" rows="5" minlength="8" maxlength="400" pattern="^[a-zA-Z0-9_&%$#]{8,120}$">{{ userInfo.bio }}</textarea>
                    </div>
                    
                    <!-- submit button -->
                    <input class="custom-button make-space-margin" id="custom-button" type="submit" value="Update" disabled>
                    
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_script %}
<!-- <script src="{{ url_for('static', filename='js/editUserInfo.js') }}"></script>
<script src="{{ url_for('static', filename='js/passwordVal.js') }}"></script>
<script src="{{ url_for('static', filename='js/avatarValidation.js') }}"></script>
<script src="{{ url_for('static', filename='js/button.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/editUserInfo.js') }}"></script>
{% endblock %}