{% extends "base.html" %}

{% block modal %}
<aside class="row no-gutters justify-content-center custom-modal make-invis" style="background-color: transparent;">
    <div class="col-12 modal-background"></div>

    <form class="col-10 col-md-6" style="overflow: hidden;" method="POST" action="{{ url_for('index') }}">
        <div class="row no-gutters">
            <div class="col-12 tab-body">
                <div class="tab tab-selected">
                    <p>Login</p>
                </div>
                <div class="tab">
                    <p>Create Account</p>
                </div>
            </div>
        </div>

        <fieldset class="col-10 create-account make-invis">
            <label type="text" for="name">Name:</label>
            <input type="text" id="name" name="name" value="JaneDoe" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" >
        </fieldset>

        <fieldset class="col-10 login-account">
            <label type="email" for="email">Email:</label>
            <input type="email" id="email" name="email" value="asdfa@aol.com" minlength="5" maxlength="20"  required>
        </fieldset>

        <fieldset class="col-10 login-account">
            <label type="password" for="password">Password:</label>
            <input  type="password" id="password" name="password" value="123456" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required>
        </fieldset>

        <fieldset class="col-10 create-account make-invis">
            <label type="password" for="passwordCheck">Re-enter Password:</label>
            <input type="password" id="passwordCheck" name="passwordCheck" value="123456" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" >
        </fieldset>

        <input class="custom-button" type="submit" value="Login">
    </form>


</aside>
{% endblock %}


{% block section %}
    <!-- Section for 'recipe of the day' -->
    <section class="row no-gutters" style="background-color:#fff; ">                <!--  No size given, auto sizes with size of picture/recipe description/ chef bio  -->
        <div class="col-12">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-2 racoon">
                    <img src="{{ url_for('static', filename='images/s_raccoon_face.svg') }}" alt="fat raccoon face">
                </div>
                <div class="col-8">
                <h1>One of our Chef's Personal Favorites</h1>
                <p>Take a moment to browse one of our Chef's recommended recipies!</p>
                </div>
                <div class="col-2 racoon">
                    <img src="{{ url_for('static', filename='images/s_raccoon_face.svg') }}" alt="fat raccoon face">
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row no-gutters">

                <div class="col-sm-6 col-md-3 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1 ">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10 sticky-note">
                            <div class="recipe-picture">
                                <p>
                                    <i>Picture of Recipe or Featured Star</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% for recipe in raccoonrecipe %}
                <div class=" col-sm-12 col-md-6 recipe-descript order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
                    <h3>{{ recipe.name.title() }}</h3>
                    <h5>Features <i>{{ recipe.feature }}</i></h5>
                    <p>{{ recipe.text }}</p>
                    <div class="row no-gutters">
                        <span class="col-4">
                            <h6>Prep Time</h6>
                            <p>{{ time[0] }}</p>
                        </span>
                        <span class="col-4">
                            <h6>Cook Time</h6>
                            <p>{{ time[1] }}</p>
                        </span>
                        <span class="col-4">
                            <h6>Total Time</h6>
                            <p>{{ time[2] }}</p>
                        </span>
                    </div>
                </div>
                {% endfor %}

                <div class="col-sm-6 col-md-3 order-3 order-sm-3 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10 sticky-note sticky-note-right">
                            
                            <div class="recipe-picture ">
                                <p>
                                    <div class="avatar">
                                        <svg width="50" height="50">
                                            <circle cx="25" cy="25" r="20" stroke-width="4" fill="#010203" />
                                        </svg>
                                        <svg width="50" height="50">
                                            <circle cx="25" cy="-10" r="30" stroke-width="4" fill="#010203" />
                                        </svg>
                                    </div>
                                    <i>
                                        {{ chef }}
                                    </i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- carousel -->
    <aside class="row no-gutters justify-content-around align-items-center card-section picnic-pattern carousel">

        <div class="col-2 col-sm-1 carousel-button carousel-left">
            <div class="row no-gutters justify-content-center">
                <div class="col-10">
                    <svg  class="carousel-button-svg">
                        <polygon points="37.5, 0 0, 37.5 37.5, 75"/>
                    </svg>
                </div>
            </div>
        </div>

        {% for feature in features %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 blank-carousel-recipe card-carousel ">
                <div class="10 carousel-picture"> <i>**picture**</i></div>
                <hr>
                <div class="10">
                    <p>
                        {{feature.name.title()}}
                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="col-2 col-sm-1 carousel-button carousel-right">
            <div class="row no-gutters justify-content-center">
                <div class="col-10">
                    <svg class="carousel-button-svg">
                        <polygon points="0, 75 37.5, 37.5 0, 0"/>
                    </svg>
                </div>
            </div>
        </div>

    </aside>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script src="{{ url_for('static', filename='js/loginCreateVal.js') }}"></script>
{% endblock %}