{% extends "base.html" %}
{% block section %}

    <!-- carousel -->
    <aside class="row no-gutters align-items-center card-section generic-background">

        <!-- Carousel header -->
        <div class="col-12 independant-header-height">
            <div class="row no-gutters justify-content-center align-items-center">
                <div class="col-12">
                    <h1>Need some inspiration on picking a meal?</h1>
                    <h3>Find a recipe by its feature ingredient!</h3>
                </div>
            </div>
        </div>
        
        <!-- Carousel cards -->
        <div class="col-12">
            <div class="row no-gutters align-items-center justify-content-around">

                <!-- Carousel button left side -->
                <div class="col-2 col-sm-1 carousel-button carousel-left">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10">
                            <svg  class="carousel-button-svg">
                                <polygon points="37.5, 0 0, 37.5 37.5, 75"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- carousel index cards -->
                {% for feature in features %}
                    <div class="col-10 col-md-10 col-lg-5 col-xl-3 blank-carousel-recipe card-carousel index-card">
                        <div class="recipe-lists">
                            <a href="{{ url_for('recipe_list', feature=feature.name) }}"><p>{{feature.name.title()}}</p></a>
                            <ul>
                                {% for featureRecipe in featureRecipes %}
                                    {% if featureRecipe[0] == feature.name %}
                                        <li>
                                            <a href="{{ url_for('recipe', recipeId=featureRecipe[2]) }}"><p>--{{ featureRecipe[1] }}</p></a>
                                        </li>
                                    {%endif%}
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <!-- carousel button right side -->
                <div class="col-2 col-sm-1 carousel-button carousel-right">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10">
                            <svg class="carousel-button-svg">
                                <polygon points="0, 75 37.5, 37.5 0, 0"/>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </aside>
    
    <!--  Polaroid Classics  -->
    <section class="row no-gutters generic-background">

        <!--  Polaroid classics Header  -->
        <div class="col-12 independant-header-height">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-12">
                    <h1>Impress someone with a Fat Raccoon's GrandParent Classic!</h1>
                    <h3>The extra effort is worth it!</h3>
                </div>
            </div>
        </div>

        <div class="col-12">    
            <div class="row no-gutters justify-content-around">
                <!-- incase no classics are in DB play this instead -->
                {% if recipeHeader == [] %}
                <div class="col-12 independant-header-height">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-12">
                            <h1>Currently we have no classics in rotation!</h1>
                            <h3>Sorry, try back later for some awesome classics!</h3>

                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe != "none" %} <!-------------------------   I crashed index this -->
                {% for recipe in recipeHeader %}
                <div class="col-5 col-md-5 col-lg-2 col-xl-2 polaroid-outer blank-anchor">
                    <a href="{{ url_for('recipe', recipeId=recipe._id) }}">
                        <div class="polaroid-picture polaroid-picture-classic">
                            <!-- defensive layer to prevent crash -->
                            {% if recipe.avatar != none %}
                            <img src="{{ url_for('avatar', avatar_image=recipe.avatar) }}" alt="">
                            {% endif %}
                        </div>
                        <div class="polaroid-text">
                            <h3>{{ recipe.name }}</h3>
                            
                        </div>
                    </a>
                </div>               
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>

    <!-- Section for 'recipe of the day' -->
    <section class="row no-gutters generic-background">                <!--  No size given, auto sizes with size of picture/recipe description/ chef bio  -->

        <div class="col-12 independant-header-height">
            <div class="row no-gutters justify-content-center align-items-center">
                <div class="col-12">
                    <h1>Try a random recipe!</h1>
                    <h3>These are from the Fat Raccoon's personal kitchen!</h3>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row no-gutters justify-content-around">
                            
                <!-- chef info with mini avatar-->
                <div class="col-12 col-md-6 col-xl-3 order-3 order-sm-3 order-md-3 order-lg-3 order-xl-1 order-xxl-1">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10 sticky-note recipe-of-day-aside-height">
                            
                            <div class="sticky-note-inner-div" style="overflow: hidden;"> <!--  fix overflow with JS  -->
                                {% if chef != none %}
                                    <div class="avatar-image">
                                        <img src="{{ url_for('avatar', avatar_image=chef.avatar) }}" alt="" >
                                    </div>
                                {% else %}
                                    <div class="avatar">
                                        <svg width="50" height="50">
                                            <circle cx="25" cy="25" r="20" stroke-width="4" fill="#010203" />
                                        </svg>
                                        <svg width="50" height="50">
                                            <circle cx="25" cy="-10" r="30" stroke-width="4" fill="#010203" />
                                        </svg>
                                    </div>
                                {% endif %}

                                {% if chef != none %}
                                    <p style="font-size: 1.5rem;">{{ chef.bio }}</p>
                                    <h6>-- {{chef.username.title()}}</h6>
                                {% else %}
                                    <p>Please create a head chef bio</p>
                                    <h6>-- Head Chef Name</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- recipe info - sticky note -->
                <div class="col-11 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-2 order-xxl-2 sticky-note sticky-note-middle recipe-of-day-aside-height"> <!-- recipe-descript --><!-- removed recipe description to keep sticky note working properly -->
                    <div class="sticky-note-inner-div blank-anchor make-space">
                        <div class="col-12">
                            <!-- title, feature/chef, recipe description, times -->
                            <a href="{{ url_for('recipe', recipeId=recipeOfDay._id) }}" class="recipe-name">
                                <h1>{{ recipeOfDay.name.title() }}</h1>
                            </a>
                        </div>
                        <div class="col-12">
                            <span class="row no-gutters">
                                <span class="col-6">
                                    <h6>Features: <strong>{{ recipeOfDay.feature.title() }}</strong></h6>
                                </span>
                                <span class="col-6">
                                    <h6>Chef: <strong>{{ chef.username }}</strong></h6>
                                </span>
                            </span>
                        </div>
                        
                        <div class="col-12">
                            <p>{{ recipeOfDay.text }}</p>
                        </div>

                        <div class="col-12">
                            <span class="row no-gutters">
                                <span class="col-4">
                                    <h6>Prep</h6>
                                    <p><strong>{{ recipeOfDay.time[0] }}</strong> minutes</p>
                                </span>
                                <span class="col-4">
                                    <h6>Cook</h6>
                                    <p><strong>{{ recipeOfDay.time[1] }}</strong> minutes</p>
                                </span>
                                <span class="col-4">
                                    <h6>Total</h6>
                                    <p><strong>{{ recipeOfDay.time[2] }}</strong> minutes</p>
                                </span>
                            </span>
                        </div>
                         <!-- Lazy Banner -->
                        {% if recipeOfDay.lazy == true %}
                            <div class="lazy-banner-space">
                                <h6 class="recipe-overlay-bottom">A Certified FR Lazy Favorite!</h6>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- recipe avatar -->
                <div class="col-12 col-md-6 col-xl-3 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-3 order-xxl-3">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-10 col-md-6 col-lg-10 polaroid-outer"> <!-- sticky-note sticky-note-right recipe-of-day-aside-height -->

                            {% if recipeOfDay.avatar %}
                                <div id="avatarImg" class="polaroid-picture"><!-- sticky-note-inner-div -->
                                    <a href="{{ url_for('recipe', recipeId=recipeOfDay._id) }}">
                                        <img src="{{ url_for('avatar', avatar_image=recipeOfDay.avatar) }}" alt=""> <!-- center me better -->
                                    </a>
                                </div>
                                
                            {% else %}
                                <div class="sticky-note-inner-div">
                                    <p>
                                        <i>Picture of Recipe or Featured Star</i>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block custom_script %}
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
   <!-- <script src="{{ url_for('static', filename='js/avatarImageSize.js') }}"></script>-->
{% endblock %}