{% extends "base.html" %}
{% block section %}
<article class="container-fluid profile-lists generic-background lessons-bottom-padding">
    <div class="row no-gutters justify-content-around">

    
    <!-- Lessons header -->
    <div class="col-10 header-text-shadow make-space-top make-space">
            <h2 class="lessons-header">We Keep some double sided index cards on hand for chefs new to the kitchen</h2>
    </div>
    <!--  Quality utensils index  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>-- Quality Knife!</h3>
                <ul>
                    <li>
                        <p>- Use a 6 inch chef knife for all basic chopping/cutting/filleting.</p>
                    </li>
                    <li>
                        <p>- Use a cleaver if you are chopping tough veg. The added weight is helpful.</p>
                    </li>
                    <li>
                        <p>- Serrated knives are bread knives, NOT chef knives!</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Hone your knife with a honing rod before each meal prep.</p>
                    </li>
                    <li>
                        <p>- Sharpen your knives once a year or more depending on use.</p>
                    </li>
                    <li>
                        <p>- A dull knife tears while a shape knife slices.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Lazy Planning  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>-- Lazy Planning!</h3>
                <ul>
                    <li>
                        <p>- A 10 minute marinade is still a marinade</p>
                    </li>
                    <li>
                        <p>- Fat Raccoon secret: Add a splash of water to your marinade</p>
                    </li>
                    <li>
                        <p>- Decide what a single portion means to you and own tupperware that accommodates that!</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul> 
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Own quality tupperware. If you cannot freeze it, replace it!</p>
                    </li>
                    <li>
                        <p>- Everytime you cook, place a minimum of a single portion in the freezer</p>
                    </li>
                    <li>
                        <p>- Freeze your extra chicken stock</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Importance of Diet  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
               <h3>-- Diet Impacts Us!</h3>
                <ul>
                    <li>
                        <p>- Eating a balanced diet matters to overall health.</p>
                    </li>
                    <li>
                        <p>- Refined sugar and preservatives are hidden in restaurant and processed foods.</p>
                    </li>
                    <li>
                        <p>- Spice, heat, and peppers improve taste and help compensate for less salt.</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Portion control is as important as a balanced diet!</p>
                    </li>
                    <li>
                        <p>- Spice, soluble fiber, and drinking more water will help you feel more full.</p>
                    </li>
                    <li>
                        <p>- A proper diet helps us feel happier, more motivated, and less depressed.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Importance of Diet part 2  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>-- Personal Perspective</h3>
                <ul>
                    <li>
                        <p>- Spending time in the kitchen can feel therapeutic, calming, and rewarding.</p>
                    </li>
                    <li>
                        <p>- Fat Raccoon secret: Put 'Worst Cooks in America" on while you are cooking and remember we all started at the same place.</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Everyone's taste buds are different.</p>
                    </li>
                    <li>
                        <p>- Changing a recipe to accommodate for personal taste is important.</p>
                    </li>
                    <li>
                        <p>- Remember, cooking is a skill that improves as you practice. Learn from your mistakes.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Know your flavors  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>--Know Your Flavors!</h3>
                <ul>
                    <li>
                        <p>- Bitter: citrus rind, cocoa, coffee, red wine, etc...</p>
                    </li>
                    <li>
                        <p>- Fats (healthy oils): olive oil, peanut oil, sesame oil, etc...</p>
                    </li>
                    <li>
                        <p>- Salt: soy sauce, bacon, chili paste, anchovies, etc...</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Spice (heat): chipotle (mature jalapeno), ancho (poblano), sambal, black/white pepper, etc...</p>
                    </li>
                    <li>
                        <p>- Sweet: fruit, caramelized veg, carrots, etc... </p>
                    </li>
                    <li>
                        <p>- Sour (acidity): citrus, pickled veg, vinegar, yogurt, etc...</p>
                    </li>
                    <li>
                        <p>- Umami (amino acid and glutamate): fish, cured meats, mushrooms, ripened tomatoes, soy sauce, etc...</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Know you flavor pairs  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>--Know Your Flavor Pairings!</h3>
                <ul>
                    <li>
                        <p>- Sour (acidity) pairs well with fats (oil) or sweetness.</p>
                    </li>
                    <li>
                        <p>- Bitter pairs well with sweet and fats (oil) flavors.</p>
                    </li>
                    <li>
                        <p>- Spice (heat) pairs well with fats (oil), sweet, and sour.</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Sweet pairs well with acidity because its complimented by acidity's sourness.</p>
                    </li>
                    <li>
                        <p>- Salt pairs well with fat(oil) and compliments sweetness.</p>
                    </li>
                    <li>
                        <p>- Fat is flavor! Healthy fats(oils) bring a lot to the table and pair well with heat.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--  Flavor Experimentation  -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>Experiment with your Flavors!</h3>
                <ul>
                    <li>
                        <p>- Always taste as you cook and experiment!</p>
                    </li>
                    <li>
                        <p>- If your food is bland, it might be lacking salt. This can be a delicate balance when trying to have a low-sodium diet.</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Oven roasted peppers like: poblano (ancho), chipotle (mature jalapeno), and habanero can add a lot to a dish without adding salt.</p>
                    </li>
                    <li>
                        <p>- Try to think of recipes as flavor pairings.  You might have been missing something all along.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--  Flavor Experimentation Part 2   -->
    <section class="col-12 col-xl-6 index-card-outer clickable large-content-height">
        <div class="index-rotate">
            <!-- Card face -->
            <div class="index-face index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <h3>Experiment with your Flavors! Part 2</h3>
                <ul>
                     <li>
                        <p>- Season everything!</p>
                    </li>
                     <li>
                        <p>- If you are cooking parts of a recipe seperately be sure to season them before you combine them into the final dish.</p>
                    </li>
                    <li>
                        <p class="can-be-flipped remove-p-margin">More on back --&gt;</p>
                    </li>
                </ul>
            </div>
            <!-- Card back -->
            <div class="index-back index-card-pattern card-carousel generic-box-shadow lessons large-content-height">
                <ul class="index-back-text">
                    <li>
                        <p>- Be mindful that some flavors like sour (acidity) do not hold up well during cooking and will break down in the heat.</p>
                    </li>
                    <li>
                        <p>- Spice (heat) also breaks down while cooking; however, oil spreads and intensifies spice (heat) while cooking!</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </div>
</article>
{% endblock %}

{% block custom_script %}
    <script src="{{ url_for('static', filename='js/lessons.js') }}"></script>
{% endblock %}