{% extends "base.html" %}

{% block modal %}
<!--  login and create account modal  -->
<aside class="row no-gutters justify-content-center custom-modal make-invis" style="background-color: transparent;">
    <div class="col-12 modal-background"></div>

    <form class="col-10 col-md-6 form-login" style="overflow: hidden;" method="POST" action="{{ url_for('index') }}">
        <div class="row no-gutters">
            <div class="col-12 tab-body">
                <div class="tab tab-selected">
                    <p>Login</p>
                </div>
                <div class="tab">
                    <p>Create Account</p>
                </div>
            </div>
        </div>

        <fieldset class="col-10 create-account make-invis">
            <label class="form-login-label-width" type="text" for="name">Name:</label>
            <input type="text" id="name" name="name" value="JaneDoe" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" >
        </fieldset>

        <fieldset class="col-10 login-account">
            <label class="form-login-label-width" type="email" for="email">Email:</label>
            <input type="email" id="email" name="email" value="asdfa@aol.com" minlength="5" maxlength="20"  required>
        </fieldset>

        <fieldset class="col-10 login-account">
            <label class="form-login-label-width" type="password" for="password">Password:</label>
            <input  type="password" id="password" name="password" value="123456" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required>
        </fieldset>

        <fieldset class="col-10 create-account make-invis">
            <label class="form-login-label-width" type="password" for="passwordCheck">Re-enter Password:</label>
            <input type="password" id="passwordCheck" name="passwordCheck" value="123456" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" >
        </fieldset>

        <input class="custom-button" id="custom-button" type="submit" value="Login">
    </form>
</aside>
{% endblock %}

{% block section %}
<section class="row no-gutters profile-lists" style="background-color: rgb(153, 220, 236);">
    <div class="col-12">
        <div class="row no-gutters justify-content-around">

            <!--  Quality utensils index  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--Quality Knife</h2>
                        <ul class="">
                            <li>
                                <p>-Use a 6 inch chef knife</p>
                            </li>
                            <li>
                                <p>-Serrated knives are bread knives, not chef knives</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="recipe-lists">
                            <li>
                                <p>Hone your knife with a honing rod</p>
                            </li>
                            <li>
                                <p>Sharpen you knife once a year or more depending on use</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--  Lazy Planning  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--Lazy Planning</h2>
                        <ul class="">
                            <li>
                                <p>A 10 minute marinade is still a marinade</p>
                            </li>
                            <li>
                                <p>Unless a recipe calls for it, dont cook on High</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul> 
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="recipe-lists">
                            <li>
                                <p>Freeze your extra chicken stock</p>
                            </li>
                            <li>
                                <p>Everytime you cook place a portion in the freezer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            

            <!--  Importance of Diet  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                       <h2>--Diet Impacts Us!</h2>
                        <ul class="">
                            <li>
                                <p>Eatting a balanced diet matters makes us feel better!</p>
                            </li>
                            <li>
                                <p>Refined sugar and preservatives are hidden in restraunt and processed foods.</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>

                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                            <li>
                                <p>Portion control is as important as balanced diet!</p>
                            </li>
                            <li>
                                <p>Spice, soluble fiber, and drinking more water help you feel more full.</p>
                            </li>
                            <li>
                                <p>A proper diet helps us feel happier, more motivated, and less depressed.</p>
                            </li>
                            <li>
                                <p>We've found that spending time in the kitchen can also feel therapeutic and calming.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--  Importance of Diet part 2  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                       <h2>--Diet Impacts Us! Part 2</h2>
                        <ul class="">
                            <li>
                                <p>A proper diet helps us feel happier, more motivated, and less depressed.</p>
                            </li>
                            <li>
                                <p>We've found that spending time in the kitchen can also feel therapeutic and calming.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">

                    </div>
                </div>
            </div>
    

            <!--  Know your flavors  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--know Your Flavors!</h2>
                        <ul class="">
                            <li>
                                <p>Bitter: Cirus Rind, Cocoa, Coffee, Red Wine, etc...</p>
                            </li>
                            <li>
                                <p>Fats(Healthy oils): olive oil, peanut oil, sesame oil ,etc...</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                            <li>
                                <p>Salt: Soy Sause, Bacon, Chili Paste, Anchovies, etc...</p>
                            </li>
                            <li>
                                <p>Spice(heat): chipotle(mature jalapeno), ancho(poblano), sambal, black/white pepper, etc...</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>      

            <!--  Know your flavors Part 2 -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--know Your Flavors! Part 2</h2>
                        <ul class="">            
                            <li>
                                <p>Sour(acidity): Citrus, Pickled Veg, Vinegar, Yogurt, etc...</p>
                            </li>
                            <li>
                                <p>Sweet: Fruit, caramelized veg, carrots, etc... </p>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                        </ul>
                    </div>
                </div>
            </div>


            <!--  Know you flavor pairs  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--Know Your Flavor pairs!</h2>
                        <ul class="">
                            <li>
                                <p>Salt, Sweet, Heat, Fat, Acid, Bitter</p>
                            </li>
                            <li>
                                <p>Bitter pairs well with sweet and fat(oil) flavors.</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                        <li>
                            <p>Spice(heat) pairs well with fat(oil), sweet, and sour.</p>
                        </li>
                        <li>
                            <p>Salt pairs well with fat(oil) and compliments sweetness.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <!--  Know you flavor pairs Part 2  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>--Know Your Flavor pairs Part 2</h2>
                        <ul class="">
                            <li>
                                <p>Sweet pairs well with acidity because its complimented by acidity's sourness.</p>
                            </li>
                            <li>
                                <p>Sour(acidity) pairs well with fat(oil) or sweetness.</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                            <li>
                                <p>Fat is flavor! Healthy fats(oils) that can bring a lot to the table.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--  Flavor Experimentation  -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>Experiment with your flavors!</h2>
                        <ul class="">
                            <li>
                                <p>Always taste as you cook and experiment!</p>
                            </li>
                            <li>
                                <p>If your food is bland, it might be lacking salt. This can be a delicate balance when trying to have a low sodium diet.</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                            <li>
                                <p>Oven roasted peppers like: poblano(ancho), chipotle(mature jalapeno), and habanero can add a lot to a dish without adding salt.</p>
                            </li>
                            <li>
                                <p>Try to think of recipes as flavor pairings.  You might have been missing something all alone and never known.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--  Flavor Experimentation Part 2   -->
            <div class="col-8 col-md-8 col-lg-8 col-xl-5 rotating-card">
                <div class="index-rotate">
                    <div class="index-face index-card-new card-carousel lessons">
                        <h2>Experiment with your flavors! Part 2</h2>
                        <ul class="">
                             <li>
                                <p>Season everything!</p>
                            </li>
                             <li>
                                <p>If you are cooking parts of a recipe seperately be sure to season them before you combine them into the final dish.</p>
                            </li>
                            <li>
                                <span><p>More on back</p></span>
                            </li>
                        </ul>
                    </div>
                    <div class="index-back index-card-new card-carousel lessons">
                        <ul class="">
                             <li>
                                <p>Be mindful some flavors like sour(acidity) do not hold up well during cooking and will break down in the heat.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block custom_script %}
    <script src="{{ url_for('static', filename='js/loginCreateVal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/avatarImageSize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/indexRotate.js') }}"></script>
{% endblock %}