{% extends "base.html" %}
{% block section %}
<!--  User basic information  -->
<section class="row no-gutters justify-content-around align-items-center notebook-paper" style="background-color:  #010203;"> <!--  used carousel height  -->
    <div class="col-12">
        <div class="row no-gutters justify-content-around">
            <div class="col-2 custom-button sticky-note-no-shadow">
                <div class="sticky-note-inner-div" >
                    <a href="{{ url_for('add_edit_recipe', recipeId='new') }}">
                    <h6>Share a Recipe</h6>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="" style="position: relative; top: 10%;">
                    <h1 style="font-size: 5rem; text-decoration: underline; text-shadow: 2px 2px 2px #a7a7a7;">Welcome {{ chef_info.username }}</h1>
                </div>
            </div>
            <div class="col-2 sticky-note-no-shadow custom-button">
                <div class="sticky-note-inner-div">
                    <a href="{{ url_for('edit_user_info') }}">
                        <h6>Update Profile</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--  Chef Name and Bio  -->
        <div class="col-6 sticky-note profile-sticky-height">
            <div class="row no-gutters sticky-note-inner-div">
                <div class="col-12">
                    <h1>
                        {{ chef_info.username }}
                    </h1>
                </div>
                <div class="col-12">
                    <h6>
                        {{ chef_info.bio }}
                    </h6>
                </div>
            </div>
        </div>
        <!--  Avatar of chef or basic stand in  -->
        <div class="col-4 align-items-center sticky-note sticky-note-right profile-sticky-height">
            {% if chef_info.avatar == none %}
            <div class="row no-gutters justify-content-center sticky-note-inner-div">
                <div class="avatar">
                    <svg width="50" height="50">
                        <circle cx="25" cy="25" r="20" stroke-width="4" fill="#010203"/>
                    </svg>
                    <svg width="50" height="50">
                        <circle cx="25" cy="-10" r="30" stroke-width="4" fill="#010203"/>
                    </svg>
                </div>
                {% else %}
                    <div id="avatarImg" class="sticky-note-inner-div">
                        <img src="{{ url_for('avatar', avatar_image=chef_info.avatar) }}" alt="">
                    </div>
                {% endif %}
            </div>
        </div>
</section>

<!--  Ten most recent columns   -->
<section class="row no-gutters justify-content-around bubble-letters profile-lists notebook-paper">
    
    <!--  Display ten most recent recipe uploads  -->
    <div class="col-3 sticky-note profile-sticky-height">
        <div class="sticky-note-inner-div">
            <h3>10 Recently Uploaded Recipes</h3>
            <hr>
            {% for submitted in submitteds %}
                {% if submitted[0] + 1 < 11 %} <!--  Change this line to allow more or less on list  -->
                    <p><a href="{{ url_for('recipe', recipeId=submittedId[submitted[0]]) }}">{{  submitted[0] + 1 }}. {{ submitted[1] }}</p></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--  Display ten most recent favorited recipes  -->
    <div class="col-3 sticky-note sticky-note-middle profile-sticky-height">
        <div class="sticky-note-inner-div">
            <h3>10 Recently Favorited Recipes</h3>
            <hr>
            {% for favorite in favorites %}
                {% if favorite %}
                    {% if favorite[0] + 1 < 11 %}
                        <p><a href="{{ url_for('recipe', recipeId=favoriteId[favorite[0]] ) }}">{{ favorite[0] + 1 }}. {{ favorite[1] }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <!--  Display ten most recently viewed recipes  -->
    <div class="col-3 sticky-note sticky-note-right profile-sticky-height">
        <div class="sticky-note-inner-div">            
            <h3>10 Recently Viewed Recipes</h3>
            <hr>
            {% for recent in recents %}
                {% if recent %}
                    {% if recent[0] + 1 < 11 %}
                        <p><a href="{{ url_for('recipe', recipeId=recentId[recent[0]] ) }}">{{ recent[0] + 1 }}. {{ recent[1] }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- carousel --> <!--   Not happy with look on profile page, change background and move to bottom of profile   -->
<!--<aside class="row no-gutters justify-content-around align-items-center card-section picnic-pattern carousel">

        <div class="col-2 col-sm-1 carousel-button carousel-left">
            <div class="row no-gutters justify-content-center">
                <div class="col-10">
                    <svg  class="carousel-button-svg">
                        <polygon points="37.5, 0 0, 37.5 37.5, 75"/>
                    </svg>
                </div>
            </div>
        </div>

        {% for feature in features %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 blank-carousel-recipe card-carousel ">
                <div class="10 carousel-picture"> <i>**picture**</i></div> -----CLASS 10 WRong
                <hr>
                <div class="10">  -----Class 10 wrong
                    <p>
                        {{feature.name.title()}}
                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="col-2 col-sm-1 carousel-button carousel-right">
            <div class="row no-gutters justify-content-center">
                <div class="col-10">
                    <svg class="carousel-button-svg">
                        <polygon points="0, 75 37.5, 37.5 0, 0"/>
                    </svg>
                </div>
            </div>
        </div>

</aside>-->


{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/avatarImageSize.js') }}"></script>
{% endblock %}