{% extends "base_login.html" %}
{% block section %}
<!--  User basic information  -->
<section class="row no-gutters justify-content-around align-items-center" style="background-color: rgb(153, 220, 236);"> <!--  used carousel height  -->
    <div class="col-12">
        <!--  Create a new recipe  -->
        <div class="row no-gutters justify-content-between">
            <div class="col-4 col-lg-2 custom-button sticky-note-no-shadow profile-button blank-anchor">
                <a href="{{ url_for('add_edit_recipe', recipeId='new') }}">
                    <div class="sticky-note-inner-div">
                        <h6>Share Recipe</h6>
                    </div>
                </a>
            </div>

            <!--  Edit user profile  -->
            <div class="col-4 col-lg-2 sticky-note-no-shadow custom-button profile-button blank-anchor">
                <a href="{{ url_for('edit_user_info') }}">
                    <div class="sticky-note-inner-div">
                        <h6>Update Profile</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
        <!--  Chef Name and Bio  -->
        <!-- Bio header -->
        <div class="col-12 profile-header-height">
            <div class="row no-gutters justify-content-center">
                <div class="col-12">
                    <h1>{{ chef_info.username }}'s Bio</h1>
                </div>
            </div>
        </div>
        <div class="col-11 col-lg-6 sticky-note profile-avatar-bio-height">
            <div class="row no-gutters sticky-note-inner-div align-items-center">
                <div class="col-12">
                    <h6>
                        {{ chef_info.bio }}
                    </h6>
                </div>
            </div>
        </div>
        <!--  Avatar of chef or basic stand in  -->
        {% if chef_info.avatar == none %}
        <div class="col-11 col-lg-4 align-items-center sticky-note sticky-note-right profile-avatar-bio-height">
            <div class="row no-gutters justify-content-center sticky-note-inner-div">
                <div class="avatar">
                    <svg width="50" height="50">
                        <circle cx="25" cy="25" r="20" stroke-width="4" fill="#010203"/>
                    </svg>
                    <svg width="50" height="50">
                        <circle cx="25" cy="-10" r="30" stroke-width="4" fill="#010203"/>
                    </svg>
                </div>
            </div>
        </div>

        {% else %}
        <div class="col-10 col-md-6 col-lg-4 col-xl-3 polaroid-outer"> <!-- profile-avatar-bio-height -->
            <div id="avatarImg" class="polaroid-picture">
                <img src="{{ url_for('avatar', avatar_image=chef_info.avatar) }}" alt="">
            </div>
        </div>
        {% endif %}
</section>

<!--  Ten most recent columns   -->
<section class="row no-gutters justify-content-around profile-lists" style="background-color: rgb(153, 220, 236);">
    
    <!--  Display ten most recent recipe uploads  -->
    <div class="col-11 col-md-5 col-xl-3 sticky-note profile-sticky-height">
        <div class="sticky-note-inner-div">
            <a href="{{ url_for('search_user_recipes', search=recipeId) }}">
                <h3>10 Recently Uploaded Recipes</h3>
            </a>
            <hr>
            {% for submitted in submitteds %}
                {% if submitted[0] + 1 < 11 %} <!--  Change this line to allow more or less on list  -->
                    <p><a href="{{ url_for('recipe', recipeId=submitted[0][1]) }}">{{  submitted[0] + 1 }}. {{ submitted[1][1] }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!--  Display ten most recent favorited recipes  -->
    <div class="col-11 col-md-5 col-xl-3 sticky-note sticky-note-right profile-sticky-height">
        <div class="sticky-note-inner-div">
            <a href="{{ url_for('search_user_recipes', search=favoriteId) }}">
                <h3>10 Recently Favorited Recipes</h3>
            </a>
            <hr>
            {% for favorite in favorites %}
                {% if favorite %}
                    {% if favorite[0] + 1 < 11 %}
                        <p><a href="{{ url_for('recipe', recipeId=favorite[0][1] ) }}">{{ favorite[0] + 1 }}. {{ favorite[1][1] }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <!--  Display ten most recently viewed recipes  -->
    <div class="col-11 col-md-5 col-xl-3 sticky-note profile-sticky-height">
        <div class="sticky-note-inner-div">
            <a href="{{ url_for('search_user_recipes', search=recentId) }}">
                <h3>10 Recently Viewed Recipes</h3>
            </a>
            <hr>
            {% for recent in recents %}
                {% if recent %}
                    {% if recent[0] + 1 < 11 %}
                        <p><a href="{{ url_for('recipe', recipeId=recent[1][0] ) }}">{{ recent[0] + 1 }}. {{ recent[1][1] }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block custom_script %}
    <!--<script src="{{ url_for('static', filename='js/avatarImageSize.js') }}"></script>-->
{% endblock %}