{% extends "base.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <div class="col-12">        
        <div class="row no-gutters justify-content-center">
            <!-- Recipe List per feature -->
            <div class="col-12 col-md-10 ">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note recipe-list-height">
                        <div class="sticky-note-inner-div">
                            <ul class="recipe-lists recipe-lists-no-padding recipe-lists-no-dec recipe-name">
                                <!-- Feature header -->
                                <h1>{{ feature.title() }} Recipes</h1>
                                <hr>
                                <!-- List of recipes that share this feature -->
                                {% for recipe in allrecipes %}
                                    <li class="make-invis blank-anchor">
                                        <a href="{{ url_for('recipe', recipeId=recipe._id) }}" class="row no-gutters justify-content-around">
                                            <!-- Recipe name -->
                                            <span class="col-12 col-lg-8">
                                                <h6><strong>{{ recipe.name.title() }}</strong>: </h6>
                                            </span>
                                            <span class="col-12 col-lg-4">
                                                <div class="row no-gutters">
                                                    <!-- Recipe total time -->
                                                    <div class="col-12">
                                                        <p>{{ recipe.time[2] }} Minutes</p>
                                                    </div>
                                                </div>
                                            </span>                                      
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}