{% extends "base.html" %}
{% block modal %}
<!--  delete carousel  -->
<aside class="row no-gutters justify-content-center custom-modal make-invis" style="background-color: transparent;">
    <div class="col-12 modal-background"></div>

    <form class="col-10 col-md-6 form-login" style="overflow: hidden;" method="POST" action="{{ url_for('recipe', recipeId=recipeInfo._id) }}">
        <div class="row no-gutters">
            <div class="col-12 tab-body">
                <div class="tab">
                    <p id="checkName">Type in recipe name <span value="{{recipeInfo.name}}">*{{recipeInfo.name}}*</span> and click delete to remove entery</p>
                </div>
            </div>
        </div>
        <input type="text" name="recipeName" id="recipeName" invalid>
        <input class="custom-button" id="custom-button" type="submit" value="Delete" disabled>
    </form>


</aside>
{% endblock %}
{% block section %}
<section class="row no-gutters notebook-paper">

    <!-- Allow a user to edit or delete their own recipes -->
    {% if recipeInfo.created_by == session["user"] %}
    <div class="col-12">
        <div class="row no-gutters justify-content-around">
            <div class="col-2 custom-button sticky-note-no-shadow">
                <div class="sticky-note-inner-div" >
                    <a href="{{ url_for('add_edit_recipe', recipeId=recipeInfo._id) }}">
                    <h6>Edit Your Recipe</h6>
                    </a>
                </div>
            </div>
            <div class="col-6"></div>
            <div class="col-2 custom-button sticky-note-no-shadow" id="deleteModal">
                <div class="sticky-note-inner-div" >
                    <h6>Delete Your Recipe</h6>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- recipe picture, name, times, and description -->
    <div class="col-12">
        <div class="row no-gutters">

            <!-- picture of recipe -->
            <div class="col-4">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note carousel">
                        <div id="avatarImg" class="sticky-note-inner-div">
                            {% if recipeInfo.avatar %}
                            <img src="{{ url_for('avatar', avatar_image=recipeInfo.avatar) }}" alt="">
                            {% else %}
                            <h1>
                                This is a place holder for recipes without images :'(
                            </h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- recipe name and times -->
            <div class="col-4">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note sticky-note-middle">
                        <div class="row no-gutters sticky-note-inner-div justify-content-center">

                            <div class="col-10">
                                <h1>
                                    {{ recipeInfo.name }}
                                </h1>
                            </div>

                            <span class="col-4">
                                <h6>Prep Time</h6>
                                <p>{{ time[0] }}</p>
                            </span>
                            <span class="col-4">
                                <h6>Cook Time</h6>
                                <p>{{ time[1] }}</p>
                            </span>
                            <span class="col-4">
                                <h6>Total Time</h6>
                                <p>{{ time[2] }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recipe description -->
            <div class="col-4">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note sticky-note-right carousel">  <!--  Im useing carousel as a height  -->
                        <div class="row no-gutters align-items-center sticky-note-inner-div">
                            <p class="col">
                                {{ recipeInfo.text }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- recipe ingredients and steps -->
    <div class="col-12">
        <div class="row no-gutters">
            <!-- Recipe Ingredients -->
            <div class="col-6 ">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note">
                        <div class="sticky-note-inner-div">
                            <ul class="recipe-lists">
                                <h1>Recipe Ingredients</h1>
                                <hr>
                                {% for ingredient in ingredients %}
                                    <li>
                                        <h6>{{ ingredient }}</h6>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recipe Steps -->
            <div class="col-6">
                <div class="row no-gutters justify-content-center ">
                    <div class="col-10 sticky-note sticky-note-right">
                        <div class="sticky-note-inner-div ">
                            <ul class="recipe-lists recipe-lists-steps">
                                <h1>Recipe Steps</h1>
                                <hr>
                                {% for step in steps %}
                                    <li>
                                        <h6>{{ step }}</h6> 
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/recipe.js') }}"></script>
{% endblock %}