{% extends "base.html" %}
{% block section %}
<article class="container-fluid generic-background">
    <div class="row no-gutters justify-content-center">
        <!-- Recipe List sticky note box -->
        <section class="col-10 col-md-8 sticky-note">
            <div class="sticky-note-inner-div large-content-height">
                <ul class="recipe-lists recipe-lists-no-padding recipe-lists-no-dec">
                    <!-- Feature header -->
                    <h1 class="yanone-text recipe-name">{{ feature.title() }} Recipes</h1>
                    <hr class="make-space">
                    <!-- List of recipes that share this feature -->
                    {% for recipe in allrecipes %}
                    <li class="make-invis blank-anchor">
                        <a href="{{ url_for('recipe', recipeId=recipe._id) }}" class="row no-gutters justify-content-around">
                            <!-- Recipe name -->
                            <div class="col-12 col-lg-8">
                                <h6><strong>{{ recipe.name }}</strong>: </h6>
                            </div>
                            <!-- Recipe total time -->
                            <div class="col-12 col-lg-4 d-none d-lg-block d-xl-block">
                                <p>{{ recipe.time[2] }} Minutes</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</article>
{% endblock %}

{% block custom_script %}
<!-- <script src="{{ url_for('static', filename='js/pagination.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/recipeList.js') }}"></script>
{% endblock %}