{% extends "base.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <div class="col-12">
        <div class="row no-gutters justify-content-center">
            <!--  If search returns no results  -->
            {% if findRecipes|length() == 0 %}
            <div class="col-12 col-lg-6">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note"> 
                        <div class="sticky-note-inner-div blank-anchor make-space large-content-height">
                            <a href="{{ url_for('index') }}">
                                <!-- Search, no results header -->
                                <div class="col-12">
                                    <h1 class="recipe-name yanone-text">Return to Home Page</h1>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <div class="row no-gutters justify-content-center">
                                        <div class="col-12">
                                            <h6><strong>Search Didn't Return Any Results!</strong></h6>
                                            <p>*hint* Search For recipe name, feature, or chef</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- If search returns results  -->
            {% for recipe in findRecipes %}
            <div class="col-12 col-lg-6">
                <div class="row no-gutters justify-content-center">
                    <!-- Creates a section error -->
                    {% if recipe[0] % 2 %}
                    <div class="col-10 sticky-note sticky-note-right">
                        <div class="sticky-note-inner-div sticky-note-right-shadow blank-anchor make-space search-bar-spacing">
                    {% else %}
                    <div class="col-10 sticky-note">
                        <div class="sticky-note-inner-div blank-anchor make-space  search-bar-spacing">
                    {% endif %}
                            <a href="{{ url_for('recipe', recipeId=recipe[1]._id) }}">
                                <!-- Recipe Name -->
                                <span class="col-12">
                                    <h1 class="recipe-name yanone-text">{{ recipe[1].name }}</h1>
                                    <hr>
                                </span>
                                <!-- Recipe chef name and feature -->
                                <span class="col-12">
                                    <span class="row no-gutters">
                                        <span class="col-12 col-sm-6 col-lg-12 col-xl-6">
                                            <span class="row no-gutters">
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12">Features: </h6>
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12"><strong>{{ recipe[1].feature.title() }}</strong></h6>
                                            </span>
                                        </span>
                                        <span class="col-12 col-sm-6 col-lg-12 col-xl-6">
                                            <span class="row no-gutters">
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12">Chef: </h6>
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12"><strong>{{ recipe[1].created_by.title() }}</strong></h6>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <!-- recipe time -->
                                <span class="col-12">
                                    <span class="row no-gutters">
                                        <span class="col-12 col-sm-4 col-lg-12 col-xl-4">
                                            <span class="row no-gutters">
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12">Prep </h6>
                                                <p class="col-6 col-sm-12 col-lg-6 col-xl-12"><strong>{{ recipe[1].time[0] }}</strong> minutes</p>
                                            </span>
                                        </span>
                                        <span class="col-12 col-sm-4 col-lg-12 col-xl-4">
                                            <span class="row no-gutters">
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12">Cook </h6>
                                                <p class="col-6 col-sm-12 col-lg-6 col-xl-12"><strong>{{ recipe[1].time[1] }}</strong> minutes</p>
                                            </span>
                                        </span>
                                        <span class="col-12 col-sm-4 col-lg-12 col-xl-4">
                                            <span class="row no-gutters">
                                                <h6 class="col-6 col-sm-12 col-lg-6 col-xl-12">Total </h6>
                                                <p class="col-6 col-sm-12 col-lg-6 col-xl-12"><strong>{{ recipe[1].time[2] }}</strong> minutes</p>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                 <!-- Banner Lazy or grandparent classic if present-->
                                 <!-- Both lazy and grandparent classic -->
                                {% if recipe[1].lazy == true and recipe[1].grandparent == true %}
                                <div><!-- Space maker --></div>
                                <span class="lazy-banner-space">
                                    <h6 class="recipe-overlay-bottom lazy-classic">Fat Raccoon Lazy and Grandparent Classic!</h6>
                                </span>
                                {% elif recipe[1].lazy == true %}
                                <!-- lazy favorite -->
                                <div><!-- Space maker --></div>
                                <span class="lazy-banner-space">
                                    <h6 class="recipe-overlay-bottom lazy">Fat Raccoon Lazy Favorite!</h6>
                                </span>    
                                {% elif recipe[1].grandparent == true %}
                                <!-- Grandparent Classic -->
                                <div><!-- Space maker --></div>
                                <span class="lazy-banner-space">
                                    <h6 class="recipe-overlay-bottom classic">Fat Raccoon Grandparent Classic!</h6>
                                </span>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}