{% extends "base.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <!-- Recipes per Feature -->
    <div class="col-12">
        <div class="row no-gutters justify-content-center">
            <!-- if recipes.count() == 0 %}-->
            {% if findRecipes|length() == 0 %}
            <div class="col-12 col-lg-6">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note recipe-list-height"> 
                        <div class="sticky-note-inner-div blank-anchor make-space recipe-name">
                            <a href="{{ url_for('index') }}">
                                <div class="col-12">
                                    <h1>Return to Home Page</h1>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <div class="row no-gutters justify-content-center">        
                                        <div class="col-12">
                                            <h6><strong>Search Didn't Return Any Results!</strong></h6>
                                            <p>*hint* Search For recipe name, feature, or chef</p>
                                        </div>                
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            <!-- Feature with Recipes  -->
            {% for recipe in findRecipes %}
            <div class="col-12 col-lg-6">
                <div class="row no-gutters justify-content-center">
                    <!-- Creates a section error -->
                    {% if recipe[0] % 2 %}
                    <div class="col-10 sticky-note sticky-note-right"> <!-- recipe-list-height-->
                    {% else %}
                    <div class="col-10 sticky-note"> <!-- recipe-list-height-->
                    {% endif %}
                        <div class="sticky-note-inner-div blank-anchor make-space recipe-name search-bar-spacing">
                            <a href="{{ url_for('recipe', recipeId=recipe[1]._id) }}">

                                <span class="col-12">
                                    <h1>{{ recipe[1].name.title() }}</h1>
                                    <hr>
                                </span>
                                
                                <span class="col-12">
                                    <span class="row no-gutters">
                                        <span class="col-6 col-lg-12 col-xl-6">
                                            <h6>Features: <strong>{{ recipe[1].feature.title() }}</strong></h6>
                                        </span>
                                        <span class="col-6 col-lg-12 col-xl-6">
                                            <h6>Chef: <strong>{{ recipe[1].created_by }}</strong></h6>
                                        </span>
                                    </span>
                                </span>  
                                
                                <span class="col-12">
                                    <span class="row no-gutters">
                                        <span class="col-4 col-lg-12 col-xl-4">
                                            <h6>Prep </h6>
                                            <p><strong>{{ recipe[1].time[0] }}</strong> minutes</p>
                                        </span>
                                        <span class="col-4 col-lg-12 col-xl-4">
                                            <h6>Cook </h6>
                                            <p><strong>{{ recipe[1].time[1] }}</strong> minutes</p>
                                        </span>
                                        <span class="col-4 col-lg-12 col-xl-4">
                                            <h6>Total </h6>
                                            <p><strong>{{ recipe[1].time[2] }}</strong> minutes</p>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}