{% extends "base.html" %}
{% block section %}
<section class="row no-gutters generic-background">
    <!-- Recipes per Feature -->
    <div class="col-12">
        <div class="row no-gutters justify-content-center">
            {% if recipes.count() == 0 %}
            <div class="col-6">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note recipe-list-height">
                        
                        <div class="sticky-note-inner-div">
                            <ul class="recipe-lists recipe-lists-no-dec">
                                    <a href="{{ url_for('index') }}">
                                        <h1>Return to Home Page</h1>
                                    </a>
                                <hr>

                                    <li>
                                        <a href="{{ url_for('index') }}" class="row no-gutters">
                                            <span class="col-12" style="text-align: center;">
                                                <div class="row no-gutters justify-content-center">
                                                    
                                                    <div class="col-12">
                                                        <h6><strong>Search Didn't Return Any Results!</strong></h6>
                                                        <p>*hint* Search For recipe name or feature</p>
                                                    </div>

                                                </div>
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                        </div>
                    </div>
                </div>
            </div>


            {% endif %}
            <!-- Feature with Recipes  -->
            {% for recipe in recipes %}
            <div class="col-6 ">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 sticky-note recipe-list-height">
                        
                        <div class="sticky-note-inner-div">
                            <ul class="recipe-lists recipe-lists-no-dec">
                                    <a href="{{ url_for('recipe', recipeId=recipe._id) }}">
                                        <h1>{{ recipe.name.title() }}</h1>
                                    </a>
                                <hr>

                                    <li>
                                        <a href="{{ url_for('recipe', recipeId=recipe._id) }}" class="row no-gutters">
                                            <span class="col-12" style="text-align: center;">
                                                <div class="row no-gutters">
                                                    
                                                    <div class="col-12">
                                                        <h6>Featuring: <strong>{{ recipe.feature }}</strong></h6>
                                                    </div>

                                                    <div class="col-4">
                                                        <h6>Prep Time: </h6>
                                                        <p><strong>{{ recipe.time[0] }} Minutes</strong></p>
                                                    </div>
                                                    <div class="col-4">
                                                        <h6>Cook Time: </h6>
                                                        <p><strong>{{ recipe.time[1] }} Minutes</strong></p>
                                                    </div>
                                                    <div class="col-4">
                                                        <h6>Total Time: </h6>
                                                        <p><strong>{{ recipe.time[2] }} Minutes</strong></p>
                                                    </div>

                                                </div>
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}